<md-dialog aria-label="">
   <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect"  style="background:green; margin-right: 0px;">
      <div layout="row">
          <div flex="95">
              <h3 style=" margin :0px; loat:left; overflow:hidden">{{articles[_Index].desc}}</h3>
          </div>
          <md-button flex="5" ng-click="answer('useful')" class="md-icon-button md-primary pull-right close_btn" aria-label="close">
              <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
          </md-button>
      </div>
    </md-subheader>



    
    <div class="articleViewerShow article_container">
        <div class="article_body">
          <perfect-scrollbar  wheel-propagation="true" wheel-speed="1" suppress-scroll-x="true" min-scrollbar-length="20"  class="article_body_left">
            <div ng-bind-html="articles[_Index].src"></div>
          </perfect-scrollbar>
          <perfect-scrollbar  wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20"  class="article_body_right">
            <div ng-class="{'article_view_hover_active':isActive($index)}" class="article_view_hover" ng-repeat="article in articles track by article.slug" ng-click="showPhoto($index);">
              <p style="font-size:10px;">{{article.desc}}</p>
              <div class="article_body_right_nav" ng-bind-html="article.src | plainHTMLText" ></div>
            </div>
          </perfect-scrollbar>
        </div>
    </div>



  </md-dialog-content>
</md-dialog>

