<md-dialog style='min-width: 440px; height:300px;'>
  <div style='width : 100%; background:rgb(0, 165, 185)' layout="row">
    <h3 class="md-no-sticky" flex="90" style="background:inherit; margin-right: 0px;">
      <div class="container_title" style="color : rgb(242, 222, 222);"><b>Forgot Password</b></div>
    </h3>
    <md-button flex="10" class="md-icon-button md-primary close_btn" aria-label="close" ng-click="forgotPasswordClose()">
      <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
    </md-button>
  </div>
  <form name='forgot_form' style='margin:auto auto; width:100%'>
    <md-content>
      <md-input-container layout="row">
        <div flex="10">
          <md-icon style="margin-top: 50%;"  md-svg-src="{{ static_path }}lib/image/email/128x128.svg" class="email"></md-icon>
        </div>
        <div flex="90">
          <label>Email</label>
          <input style="width: 100%;" ng-model='forgot_email' type='email' name='email' required autofocus/>
        </div>
      </md-input-container>
      <div class='md-actions'>
        <md-button flex='33' class='md-raised md-primary' ng-disabled='!forgot_form.email.$valid' ng-click='passwordReset()'>Reset</md-button>
      </div>
    </md-content>
  </form>
  <div style='background: rgb(222, 242, 225); border-color: rgb(213, 238, 211); padding-left: 10px;' ng-show='isValid'>
    <h4 style='color:rgb(75, 185, 72);'>Check Your E-mail and reset your Password.</h4>
  </div>
  <div style='background: #f2dede; border-color: #eed3d7; padding-left: 10px;' ng-show='isNotValid'>
    <h4 style='color:#b94a48' class='md-primary'>E-mail Not Registered.</h4>
  </div>
  <md-progress-linear md-mode='indeterminate' ng-show='isLoading' style='margin-bottom: 5px;'></md-progress-linear>
</md-dialog>