 <md-dialog aria-label="" id="imgDialog" style="width:100%; height:100%; max-width:100%; max-height:100%">

  <md-dialog-content class="sticky-container" style="background:gray; width:100%; height:100%;">
    
    <div style="width:50%; margin:10% auto;background:rgb(60, 57, 57)">
      <img src="{{$parent.static_path}}lib/image/logo/myswaasthlogo22.png" width="150"/>
      <md-divider></md-divider>
      <h2 style="color:white; margin:auto auto; width:150px">Login Form</h2>
      <form name="temp_form">
        <md-input-container>
          <label style="color:white">User Name</label>
          <input ng-model="temp_emial" style="color:white">
        </md-input-container>
        <md-input-container>
          <label style="color:white">Password</label>
          <input  style="color:white" ng-model="temp_pass" type="password">
        </md-input-container>
        <md-button class="md-primary md-raised" style="width:100%" ng-click="tempLoginClick()">Login</md-button>
      </form>
    </div>
  </md-dialog-content>


</md-dialog>