<div class="avatar" ng-controller="WhereCouldIGoController as WhereCouldIGoController_vm">
<md-card class="cards tile">
    <div layout="row">
      <md-subheader class="md-no-sticky" flex>
        <div class="container_title container_title-w85" style="height:48px"><b> Where Could I Go ? </b></div>
      </md-subheader>
    </div>

        <md-card-content id="gender-filter">
          <div ng-show="!isUserLocationFind">
              <perfect-scrollbar ng-style="resizeWithOffset(168)" resize notifier="notifyServiceOnChage(params)" class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <md-content style="background:rgb(66, 66, 66); padding:10px">
                  <user-location-template></user-location-template>
                </md-content>
              </perfect-scrollbar>
          </div>
          <div ng-show="isUserLocationFind">
            <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="false"></md-progress-circular>
            <perfect-scrollbar  class="scroller" ng-style="resizeWithOffset(173)" resize notifier="notifyServiceOnChage(params)" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
              <div class="symptoms-bar_list_view">
                <span ng-repeat="wcig_list in WhereCouldIGoController_vm.where_could_go_list">
                  <md-card ng-if="wcig_list.medications" layout="row">
                    <md-button ng-disabled="wcig_list.medications.length <= 0" ui-sref-active="list_active" ui-sref=".medicationListFromWCIG({c_slug : WhereCouldIGoController_vm.where_could_go_list[0].condition_slug})" flex="100" style="text-transform:none; text-align:left">
                      <div layout="row">
                        <div flex="95" style="padding: 5px;">
                          <div><b>Prescription Medication</b></div>
                          <md-divider></md-divider>
                          <div style="width: 100%; white-space: normal;text-align: justify;">
                              <i>Medication available</i>
                          </div>
                        </div>
                        <div flex="5" style="margin : auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                      </div>
                    </md-button>
                  </md-card>

                  <md-card ng-if="wcig_list.specialties" layout="row" ng-repeat="specialties_list in wcig_list.specialties">
                    <md-button ui-sref-active="list_active" ui-sref=".doctor_list({specility_id:specialties_list.slug})" flex="100" style="text-transform:none; text-align:left">
                      <div layout="row">
                        <div flex="95" style="padding: 5px;">
                          <div><b>Speciality</b></div>
                          <div style="width: 100%; white-space: normal;text-align: justify;">
                              {{specialties_list.name}}
                          </div>
                        </div>
                        <div flex="5" style="margin : auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                      </div>
                    </md-button>
                  </md-card>

                  <md-card ng-if="wcig_list.facility" layout="row" ng-repeat="facility_list in wcig_list.facility">
                    <md-button ui-sref-active="list_active" ui-sref=".hospitals_list({hospital_slug:facility_list.slug, hospital_name:facility_list.name})" flex="100" style="text-transform:none; text-align:left">
                      <div layout="row">
                        <div flex="95" style="padding: 5px;">
                          <div><b>Facilities</b></div>
                          <div style="width: 100%; white-space: normal;text-align: justify;">
                              {{facility_list.name}}
                          </div>
                        </div>
                        <div flex="5" style="margin : auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                      </div>
                    </md-button>
                  </md-card>
                </span>
              </div>
            </perfect-scrollbar>
          </div>
      </md-card-content>
    </md-card>
  </div>