<md-dialog aria-label="">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect" ><md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon> <b>Medical Warning</b>
    <md-button ng-click="hide()" class="md-primary pull-right">
      Close
    </md-button>
    </md-subheader>

    <!-- slider container -->
    <div  layout layout="center">
        <div class="md-actions" layout="column">
            <p style="color:black">The symptom you've selected can be life threatening in some cases.</p>
            <md-button style="background:green;  width:75%; margin-bottom:2px"  ui-sref="{{preUrl}}.causes({stmptoms_id:normalView.main_symptom.slug, stmptoms_name:normalView.main_symptom.name, msp_enabled:normalView.main_symptom.msp_enabled, life_threatening:normalView.main_symptom.life_threatening})" ng-click="hide()">View Possible Medical Conditions</md-button>
            <md-button style="background:red;  width:75%" ng-click="hide()" ui-sref="{{preUrl}}.causes{{WarningController.emergencyView}}">Find an Emergency Room</md-button>
            <p style="color:black">If you seen your symptom could be life threatening, you should call 108.</p>
        </div>
    </div>
  </md-dialog-content>

  </form>
</md-dialog>
