<md-dialog aria-label="">
  <form>
  <md-dialog-content class="sticky-container">
    <div layout="row" style="background:rgb(90, 80, 10)">
      <div flex="90">
        <md-subheader class="md-sticky-no-effect" style="background:inherit; font-size: 2em; color: white">
          Medical Warning
        </md-subheader>
      </div>
      <md-button flex="10" ng-click="hide()" class="md-primary pull-right close_btn">
        <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
      </md-button>
    </div>

    <!-- slider container -->
    <div  layout="row" layout="center" style="background: rgb(225, 225, 225);">
        <div class="md-actions" layout="column">

            <p style="color:rgb(60, 60, 60);">The symptom you've selected can be life threatening in some cases.{{normalView.slug}}</p>
            <md-button style="background:rgb(0, 160, 160); color:rgb(255, 255, 255); width:75%; margin-bottom:2px"  ui-sref="{{preUrl}}.causes({symptoms_id:normalView.slug, stmptoms_name:normalView.name, msp_enabled:normalView.msp_enabled, life_threatening:normalView.life_threatening})" ng-click="hide()"><b>View Possible Medical Conditions</b></md-button>
            <md-button style="background:rgb(102, 10, 101); color:rgb(255, 255, 255); width:75%" ng-click="hide()" ui-sref="{{preUrl}}.hospitals_list({hospital_slug:'hospital'})"><b>Find an Emergency Room</b></md-button>
            <p style="color:rgb(60, 60, 60);">If you seen your symptom could be life threatening, you should call 108.</p>
        </div>
    </div>
  </md-dialog-content>

  </form>
</md-dialog>
