<div layout="column" flex>
    <md-card class="cards tile">
        <perfect-scrollbar  ng-style="resizeWithOffset(170)" resize notifier="notifyServiceOnChage(params)" class="scroller"  id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
            <div id="avatar" layout="row">
                <div flex="{{ symptom_female_vm.flex.flexL }}">
                    <md-button id ="rotateFemaleFront" style="text-transform:none; float:left; margin:6px" ng-click="symptom_female_vm.rotate()" aria-label="rotate female front to back" ng-disabled="hideImage">
                        <md-icon md-svg-icon="{{static_path}}lib/image/rotate/128x128.svg"></md-icon><br/>
                        Rotate
                    </md-button>
                </div>
                <div flex="{{ symptom_female_vm.flex.flexM }}">
                    <div  ng-show="hideImage">
                        <canvas id="coinAnimation" front-rotate="" buttonid="rotateFemaleFront"></canvas>
                    </div>
                    <div no-scroll  ng-if="hideImageFemaleFront" style="overflow-y: auto;overflow: -moz-scrollbars-none;">
                        <img id="avatar_img" style = "height: auto;" ng-show="photo[0].isLoading" ng-src="{{photo[0].src}}" usemap="#avatarFemale" imageonload select-img = "{{ photo[0].selectedImgRef }}" hover-img = "{{ photo[0].hoverImgRef }}"/>
                        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo[0].isLoading"></md-progress-circular>
                        <map id="avatar_female" name="avatarFemale">
                            <area ng-repeat="map in photo[0].mapArea" href="#" state-name="female_front" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}">
                        </map>
                    </div>

                    <div no-scroll  resize notifier="notifyServiceOnChage(params)" ng-if="hideImageFemaleBack" style="overflow-y: auto;overflow: -moz-scrollbars-none;">
                        <img id="avatar_img" style="height: auto" ng-show="photo[1].isLoading" ng-src="{{photo[1].src}}" usemap="#avatarFemaleBack" imageonload select-img = "{{ photo[1].selectedImgRef }}" hover-img = "{{ photo[1].hoverImgRef }}"/>
                        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo[1].isLoading"></md-progress-circular>
                        <map id="avatar_female" name="avatarFemaleBack">
                            <area ng-repeat="map in photo[1].mapArea" href="#" state-name="{{ map.stateName }}" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}">
                        </map>
                    </div>
                </div>
                <div flex="{{ symptom_female_vm.flex.flexR }}">
                    <md-button ui-sref="symptoms/male" style="text-transform:none; float:right; margin:6px" ng-click="symptom_female_vm.change()" aria-label="rotate female back to front">
                        <md-icon md-svg-icon="{{static_path}}lib/image/gender/128x128.svg"></md-icon><br/>
                        Gender
                    </md-button>
                </div>
            </div>
        </perfect-scrollbar>
    </md-card>
</div>
