<div layout="column" flex>
    <md-card class="cards tile">
        <perfect-scrollbar ng-style="resizeWithOffset(170)" resize notifier="notifyServiceOnChage(params)" class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" suppressScrollX="true">
            <div id="avatar" layout="row" >
                <div flex="{{ symptom_male_vm.flex.flexL }}">
                    <md-button id="rotateFront" style="text-transform:none; float:left; margin:6px" ng-click="symptom_male_vm.rotate()" aria-label="rotateMaleToBack" ng-disabled="hideImage">
                        <md-icon md-svg-icon="{{static_path}}lib/image/rotate/128x128.svg"></md-icon><br/>
                        Rotate
                    </md-button>
                </div>
                <div flex="{{ symptom_male_vm.flex.flexM }}">
                    <div class="" class="check-element animate-show" ng-show="hideImage">
                        <canvas class="check-element animate-show" id="coinAnimation" front-rotate="" buttonid="rotateFront"></canvas>
                    </div>
                    <div  no-scroll=""  resize notifier="notifyServiceOnChage(params)" ng-if="hideImageMaleFront" style="overflow-y: auto;overflow: -moz-scrollbars-none;">
                       <img id="avatar_img"  style = "height: auto;" ng-show="photo[0].isLoading"  ng-src="{{photo[0].src}}" usemap="#avatarMale"  imageonload select-img = "{{ photo[0].selectedImgRef }}"  hover-img = "{{ photo[0].hoverImgRef }}"/>
                       <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo[0].isLoading"></md-progress-circular>
                       <map id="avatar_male" name="avatarMale">
                            <area ng-repeat="map in photo[0].mapArea" href="#" state-name="{{ map.stateName }}" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}" >
                       </map>
                    </div>
                    <div no-scroll  resize notifier="notifyServiceOnChage(params)" ng-if="hideImageMaleBack" style="overflow-y: auto;overflow: -moz-scrollbars-none;">
                        <img id="avatar_img" style = "height: auto;" ng-show="photo[1].isLoading" ng-src="{{photo[1].src}}" usemap="#avatarMaleBack"  imageonload select-img = "{{ photo[1].selectedImgRef }}" hover-img = "{{ photo[1].hoverImgRef }}"/>
                        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo[1].isLoading"></md-progress-circular>
                        <map id="avatar_male_back" name="avatarMaleBack">
                            <area ng-repeat="map in photo[1].mapArea" href="#" state-name="{{ map.stateName }}" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}">
                        </map>
                    </div>
                </div>

                <div flex="{{ symptom_male_vm.flex.flexR }}">
                    <md-button ui-sref="symptoms/female" style="text-transform:none; float:right; margin:6px" ng-click="symptom_male_vm.change()"aria-label="ChangeMaleFrontToFemaleFront">
                        <md-icon md-svg-icon="{{static_path}}lib/image/gender/128x128.svg"></md-icon><br/>
                        Gender
                    </md-button>
                </div>
            </div>
        </perfect-scrollbar>
    </md-card>
</div>

