<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">

      <div layout="row" class="header_bar">
          <md-subheader class="md-no-sticky" flex="80">
              <div class="container_title"><b>Symptoms of {{avatar_vm.title}}</b></div>
          </md-subheader>
          <div flex="20" layout="center center">
              <div layout="row" class="pull-right margin-top-bottom">
                  <md-button class="md-icon-button md-primary" aria-label="scrollup" go-to-top=".symptoms_of_avatar">
                      <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary close_btn" aria-label="Settings" ng-click="avatar_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg" ></md-icon>
                  </md-button>
              </div>
          </div>
      </div>

      <div layout="row">
        <div flex="100">
          <perfect-scrollbar ng-style="resizeWithOffset(180)" resize notifier="notifyServiceOnChage(params)"  class="scroller symptoms_of_avatar" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
          <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="avatar_vm.isLoading"></md-progress-circular>
          <div class="symptoms-bar_list_view">
              <md-list class="list_view">
                 <md-list-item ng-repeat="cause in avatar_vm.causesList" ng-click="avatar_vm.clickLifeThreatening($event, cause)" ui-sref=".causes({symptoms_id:cause.slug, stmptoms_name:cause.name, msp_enabled:cause.msp_enabled, life_threatening:cause.life_threatening})" ui-sref-active="list_active"><md-button><div>{{cause.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span>
                 <md-divider></md-divider></md-list-item>
              </md-list>
          </div>

          </perfect-scrollbar>
        </div>
      </div>
  </md-card>
</div>  


<ui-view></ui-view>