<div class="avatar symptom-cause" layout="column" flex>
  <md-card class="cards tile">
    <div layout="row" class="header_bar">
      <md-subheader class="md-no-sticky" flex="80">
            <div class="container_title"><b>Causes for {{allsymptom_cause_vm.title}}</b></div>
      </md-subheader>
      <div flex="20" layout="center center">
        <div layout="row" class="pull-right margin-top-bottom">
          <md-button class="md-icon-button md-primary" aria-label="scrollup" go-to-top=".cause_of_symptoms">
              <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary close_btn" aria-label="Settings" ng-click="allsymptom_cause_vm.closeView()">
            <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg" ></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <md-card-content id="gender-filter" style="height : {{(allsymptom_cause_vm.windowHeight)-174}}px">
      <div layout="column" layout-padding ng-show="allsymptom_cause_vm.causesList[2].msp_enabled[0].is_active">
          <md-content style="height: 181px">
             <div  layout="row" layout-align="center center" class="switch-slider">
                <div flex ="33"   >
                    <switch id="enabled" name="enabled" ng-model="filter_by_gender" on="Female" off="Male" class="green"></switch>
                </div>
                <div flex ="66" layout style="padding-right: 3px;">
                    <div  flex = "20" layout layout-align="center center">
                        <span class="md-body-1">Age:&nbsp;&nbsp; </span>
                    </div>
                    <md-slider flex="60" md-discrete ng-model="filter_by_age" step="1" min="1" max="4" aria-label="rating"></md-slider>
                    <span flex="20" layout layout-align="center center">{{allsymptom_cause_vm.age}}</span>
                </div>
             </div>
             <h3>Check any symptoms that apply:</h3>
             <div layout="row">
                <div flex>
                    <md-checkbox ng-repeat="msp_symptoms in allsymptom_cause_vm.causesList[1].msp_symptoms" ng-model="msp_symptoms.is_msp_active" ng-change="allsymptom_cause_vm.clickRelatedSymptoms($event, allsymptom_cause_vm.causesList[1].msp_symptoms)" aria-label="{{msp_symptoms.name}}">
                      {{msp_symptoms.name}}
                    </md-checkbox>
                </div>
             </div>
          </md-content>
       </div>
      <div>
<!--ng-style="allsymptom_cause_vm.viewheight" -->
        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="allsymptom_cause_vm.isLoading"></md-progress-circular>
          <perfect-scrollbar  ng-style="(allsymptom_cause_vm.causesList[2].msp_enabled[0].is_active != undefined )? resizeWithOffset(380) : resizeWithOffset(180)" resize notifier="notifyServiceOnChage(params)"  class="cause_of_symptoms scroller"  id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
            <div class="symptoms-bar_list_view">
              <md-list class="list_view" ng-if="allsymptom_cause_vm.causesList[2].msp_enabled[0].is_active==true">
                <md-list-item ng-repeat="cause in allsymptom_cause_vm.causesList[0].conditions track by cause.slug" ui-sref=".conditions_overview({cause_id:cause.slug})" ui-sref-active="list_active" class="symptoms_cause_item">
                <md-button><div>{{cause.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
              </md-list>
              <md-list class="list_view" ng-if="!allsymptom_cause_vm.causesList[1].msp_enabled[0].is_active">
                <md-list-item ng-repeat="cause in allsymptom_cause_vm.causesList[0].conditions track by cause.slug" ui-sref=".conditions_overview({cause_id:cause.slug})" ui-sref-active="list_active" class="symptoms_cause_item">
                <md-button><div>{{cause.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
              </md-list>
            </div>
          </perfect-scrollbar>
          <span class="data-not-found" ng-show="allsymptom_cause_vm.isNotCause || allsymptom_cause_vm.causesList[0].conditions.length==0">No Combination Found. Please Try to filter By Gender or Age</span>
      </div>
    </md-card-content>
  </md-card>


</div>



<ui-view></ui-view>
