
<div class="myclass avatar">
<md-subheader class="md-no-sticky"><div class="container_title"><b>Causes for {{allsymptom_facilitie_vm.title}}</b></div>
  <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="allsymptom_facilitie_vm.closeView()">
    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
  </md-button>
</md-subheader>


  <perfect-scrollbar class="scroller tab-pane active symptoms-bar_blank_div" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">

<div class="symptoms-bar_list_view">
<img src="ajax-loader.gif" class="loading" ng-show="allsymptom_facilitie_vm.isLoading">
  <md-list class="list_view">
        
        <md-list-item ng-repeat="condition in allsymptom_condition_vm.conditionList" ui-sref=".symptomsFacilities({condition_id:condition.id, title_name2:condition.Name})">
          <md-button>{{condition.Name}}</md-button>
          <span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span>
        </md-list-item>
  </md-list>
  </div>
      
</perfect-scrollbar>

</div>  


<ui-view></ui-view>