<div>
    <md-card class="cards tile">
      <md-card-content>
        <div layout="row">
          <div flex="100">
            <div class="serach_bar_parent" layout="row">
              <md-content md-theme="docs-dark" class="search-bar">
                  <md-input-container>
                    <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12); margin-left:10px;">Search</label>
                    <input ng-model="symptom_all_vm.filterList" ng-change="symptom_all_vm.filterListChange(symptom_all_vm.filterList)" autofocus focus ng-readonly="symptom_all_vm.isDisabled" class="txt_box_padding">
                  </md-input-container>
              </md-content>
              </div>
              <div layout="row">
                <div flex="100">
                  <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="symptom_all_vm.isLoading"></md-progress-circular>
                  
                  <perfect-scrollbar ng-style="resizeWithOffset(235)" resize notifier="notifyServiceOnChage(params)"  scroll-update="{{symptom_all_vm.symptomsList}}" class="scroller custom_infinite"  wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                    <div class="symptoms-bar_list_view" style="padding-top:-1px" infinite-scroll='symptom_all_vm.loadMore()' infinite-scroll-disabled='symptom_all_vm.busy' infinite-scroll-distance='1'>
                        <md-list class="list_view">
                          <span ng-repeat="symptoms in symptom_all_vm.symptomsList track by symptoms.slug">
                            <!--<md-list-item ng-repeat="symptom in symptoms.synonyms track by symptom.slug" ng-click="symptom_all_vm.clickLifeThreatening($event, symptoms)" ui-sref=".causes({stmptoms_id:symptoms.main_symptom.slug, stmptoms_name:symptom.name, msp_enabled:symptoms.main_symptom.msp_enabled, life_threatening:symptoms.main_symptom.life_threatening})"  ui-sref-active="list_active"><md-button><div>{{symptom.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>-->
                              <md-list-item ui-sref=".causes({symptoms_id:symptoms.slug, stmptoms_name:symptoms.name, msp_enabled:symptoms.msp_enabled})" ui-sref-active="list_active"><md-button><div>{{symptoms.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
                          </span>
                        </md-list>
                    </div>
                  </perfect-scrollbar>
                  <span class="data-not-found" ng-show="symptom_all_vm.symptomsList.length==0 && (!symptom_all_vm.busy && !symptom_all_vm.isLoading)">Data not Found</span>
                </div>
              </div>
            </div>
        </div>
      </md-card-content>
      <md-progress-linear md-mode="indeterminate" ng-show='symptom_all_vm.busy' style="position: absolute; top:98.5%;"></md-progress-linear>
    </md-card>

</div>
