<div class="avatar" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar avatar_header_bar">
            <md-tabs class = "md-accent" md-border-bottom md-stretch-tabs="always" md-selected="avatar_tab_selected">
                <md-tab style="color:#fff;  background: #0a740f;" ui-sref="symptoms/male">
                    <md-tab-label><b>Avatar</b></md-tab-label>
                    
                </md-tab>
                <md-tab style="color:#fff ;  background: #0a740f;" ui-sref="allsymptoms">
                    <md-tab-label><b>Symptoms</b></md-tab-label>
                </md-tab>
            </md-tabs>
        </div>
        <div layout="row">
            <ui-view name="avatar_view" class="avatar_view_class" flex></ui-view>
        </div>
    </md-card>
</div>


<ui-view name="@cause_view"></ui-view>
