<div class="avatar symptom-cause" layout = "column" flex style="width: 575px;">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader flex="85" class="md-no-sticky">
                <div class="container_title container_title-w45">{{doctorsDetails_vm.doctorsDetails[0].owner.first_name}} {{doctorsDetails_vm.doctorsDetails[0].owner.middle_name}} {{doctorsDetails_vm.doctorsDetails[0].owner.last_name}}</div>
            </md-subheader>
            <div flex="15" layout-align="end center" layout="row">
                <div class="socialCircle-container" flex>
                    <div class="socialCircle-item" socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-google-plus"></i></div>
                    <div class="socialCircle-item" socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-facebook"></i></div>
                    <div class="socialCircle-item" socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-twitter"></i></div>
                    <div class="socialCircle-item" clip-click-fallback="pathCopyForShare(false)" clip-copy=(location.protocol()+"://www."+location.host()+"/#/swaasth/doctors:"+doctorsDetails_vm.doctor_id) clip-click="pathCopyForShare(true)"><i class="fa fa-clipboard"></i></div>
                    <md-button class="md-icon-button md-primary socialCircle-center closed" aria-label="close" style="left: 0px;" share-popup="">
                        <md-icon md-svg-icon="{{static_path}}lib/image/share/128x128.svg"></md-icon>
                    </md-button>
                </div>
                <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="doctorsDetails_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>
        <md-card-content ng-style="resizeWithOffset(180)">
            <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="doctorsDetails_vm.isLoading"></md-progress-circular>

            <div layout="row" ng-repeat="doctor_detail in doctorsDetails_vm.doctorsDetails track by $index">
                <div flex="100">
                    <div class="scroll_fix fix_and_scroll_show" style="position:absolute; width:100%; z-index:1">
                        <md-button style="width:100%;" class="md-primary md-raised md-hue-2">Book Appointment</md-button>
                    </div>
                    <perfect-scrollbar ng-style="resizeWithOffset(180)" resize notifier="notifyServiceOnChage(params)"  class="scroller custom_infinite doctor_details_list" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" style="padding-right:10px;">
                        <div layout = "row" layout-padding>
                            <md-card  flex="100" style="margin:0px">
                                <md-card-content layout = "column">
                                    <div layout = "row">
                                        <div flex="30" layout-padding>
                                            <img ng-show="doctor_detail.logo.length!=0" ng-src="{{doctor_detail.logo[0].image_url}}" class="md-avatar" alt="{{doctor_detail.owner.first_name}} {{doctor_detail.owner.middle_name}} {{doctor_detail.owner.last_name}}" style="width:100%"/>
                                            <img ng-show="doctor_detail.logo.length==0" ng-src="{{static_path}}lib/image/user/128x128.svg" class="md-avatar" style="width:100%"/>
                                        </div>
                                        <div flex="70" layout="column" layout-padding>
                                            <div>
                                                <h2 style="white-space: normal; margin: 0px">{{doctor_detail.owner.first_name}} {{doctor_detail.owner.middle_name}} {{doctor_detail.owner.last_name}}</h2>
                                                <span style="margin: 0px; white-space: initial;" ng-repeat="education in doctor_detail.education"><i>{{education.degree.name}}</i> <span ng-if="$index != (doctor_detail.education.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                                <div style="margin: 0px" ng-if="doctor_detail.experience_years!=null">{{ doctor_detail.experience_years }}<span ng-if="doctor_detail.experience_years ==1"> year </span><span ng-if="doctor_detail.experience_years !=1"> Years</span> Experience</div>
                                            </div><md-divider></md-divider>

                                            <div layout-margin>
                                                <div ng-if="doctor_detail.clinic[0].main_facility.address.mobile!=null">
                                                    <div layout="row">
                                                        <div flex="10">
                                                            <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                                        </div>
                                                        <div flex="90" style="white-space: normal;"><span ng-repeat="mobile in doctor_detail.clinic track by $index">{{mobile.main_facility.address.mobile}}<span ng-if="doctor_detail.clinic.length-1 != $index">, </span></span></div>
                                                    </div>
                                                </div>
                                                <div ng-if="doctor_detail.clinic[0].main_facility.address.mobile == null">
                                                    <div layout="row">
                                                        <div flex="10">
                                                            <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                                        </div>
                                                        <div flex="90" style="white-space: normal;">Contact MySwaasth.com</div>
                                                    </div>
                                                </div>
                                            </div><md-divider></md-divider>
                                            <div scroll-and-fix scroller-element-class="doctor_details_list" show-element-class="scroll_fix">
                                                <md-button style="width:100%; margin-top:10px" class="md-primary md-raised md-hue-2">Book Appointment</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout = "row" layout-padding>
                            <md-card flex="100" style="margin:0px; white-space:normal">
                                <md-card-content layout="column">
                                    <div layout="row">
                                        <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/summary/128x128.svg" class="icon-wh-40"></md-icon></span>
                                        <div flex="90">
                                            <div layout="row">
                                                <h3 class="md-title" style="margin: .5em 0;">Summary</h3>
                                            </div><md-divider></md-divider>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex="10"></div>
                                        <div flex="90"><p style="padding: 5px" ng-bind-html="doctor_detail.summary"></p></div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout = "row" layout-padding ng-repeat="clinic in doctor_detail.clinic track by $index">
                            <md-card flex="100" style="margin:0px; white-space:normal">
                                <div layout="row" ng-if="$index==0">
                                    <h3 class="md-title" style="margin: .5em 0;">Clinics Details</h3>
                                </div><md-divider ng-if="$index==0"></md-divider>
                                <div layout="row">
                                    <div flex="100">
                                        <div layout="row">
                                            <div flex = "50" style="border-right: 1px solid rgba(0,0,0,0.12); padding:6px">
                                                <div layout="row">
                                                    <span flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/location/128x128.svg" class="icon-wh-40"></md-icon></span>
                                                    <div flex= "80">
                                                        <span ng-if="state.current.name.indexOf('doctor_list')!=-1"><b><a ui-sref=".hospital_overview({hospital_id : clinic.main_facility.slug, hospital_name : clinic.main_facility.name})" style="cursor:pointer">{{clinic.main_facility.name}}</a></b></span>
                                                        <span ng-if="state.current.name.indexOf('doctor_list')==-1"><b><a style="cursor:pointer" ng-click="doctorsDetails_vm.scrollToClinic(clinic.main_facility.slug)">{{clinic.main_facility.name}}</a></b></span>
                                                        <i><p ng-bind-html="clinic.main_facility.address.street_address"></p></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div flex = "50" style="padding:6px">
                                                <div layout="row">
                                                    <span flex="15"><md-icon md-svg-icon="{{static_path}}lib/image/clock/128x128.svg" class="icon-wh-30"></md-icon></span>
                                                    <div flex="85">
                                                        <div layout="row" ng-repeat="timing in clinic.visit_timings track by $index">
                                                            <div flex="100">
                                                                <p style="margin:0px;" ng-bind-html="timing.availibility.name"></p>
                                                                <span ng-bind-html="timing.timings | TimeFilterBreak"></span><md-divider ng-if="(clinic.visit_timings.length-1)!=$index"></md-divider>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <md-divider ng-if="clinic.price!=null"></md-divider>
                                                <div layout="row" ng-if="clinic.price!=null">
                                                    <span flex="15"><md-icon md-svg-icon="{{static_path}}lib/image/inr/128x128.svg" class="icon-wh-30"></md-icon></span>
                                                    <p flex="85" style="margin:auto auto;">{{clinic.price}}</p>
                                                </div><md-divider ng-if="clinic.main_facility.address.mobile!=null"></md-divider>
                                                <div ng-if="clinic.main_facility.address.mobile!=null" layout="row">
                                                    <div flex="15">
                                                        <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg" class="icon-wh-30"></md-icon>
                                                    </div>
                                                    <div flex="85" style="white-space: normal; margin: auto auto;">{{clinic.main_facility.address.mobile}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" ng-if="clinic.main_facility.services.length!=0">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/service/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <div layout="row">
                                            <h3 flex="100" class="md-title" style="margin: .5em 0;">Services</h3>
                                        </div><md-divider></md-divider>
                                        <div layout="row">
                                            <div flex="50">
                                                <ul style="padding-left:20px; list-style:disc">
                                                    <li ng-repeat="services in clinic.main_facility.services track by $index" ng-if="$even">{{services.name}}</li>
                                                </ul>
                                            </div>
                                            <div flex="50">
                                                <ul style="padding-left:20px; list-style:disc">
                                                    <li ng-repeat="services in clinic.main_facility.services track by $index" ng-if="$odd">{{services.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                        <div layout = "row" layout-padding>
                            <md-card flex="100" style="margin:0px; white-space:normal">
                                <div layout="row">
                                    <h3 class="md-title" style="margin: .5em 0; word-break:keep-all">Other Details</h3>
                                </div><md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.specialities.length>0">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/specialists/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Specializations</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li ng-repeat="speciality in doctor_detail.specialities">{{speciality.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div layout="row" ng-if="doctor_detail.awards_and_recognitions!=''">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/award/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Awards and Recognitions</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li ng-bind-html="doctor_detail.awards_and_recognitions"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div layout="row" ng-if="doctor_detail.education.length>0">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/education/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Education</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li ng-repeat="education in doctor_detail.education track by $index"><span style="border-bottom:1px dashed rgb(171, 171, 171)">{{education.degree.name}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div layout="row" ng-if="doctor_detail.membership.length>0">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/membership/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Memberships</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li ng-repeat="membership in doctor_detail.membership">{{membership.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div layout="row" ng-if="doctor_detail.experience!=''">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/experience/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Experience</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li ng-bind-html="doctor_detail.experience"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div layout="row" ng-if="doctor_detail.registeration!=null">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/registration/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <h3 class="md-title" style="margin: .5em 0;">Registrations</h3>
                                        <ul style="padding-left:20px; list-style:disc">
                                            <li>{{doctor_detail.registeration.council_id}} - {{doctor_detail.registeration.council}}<span ng-if="doctor_detail.registeration.year!=null">, {{doctor_detail.registeration.year}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
            <span class="data-not-found" ng-show="doctorsDetails_vm.doctorsDetails.length==0 && !doctorsDetails_vm.isLoading">Data not Found</span>
        </md-card-content>
        

    </md-card>
</div>
<ui-view></ui-view>