<img src="{{ static_path }}lib/image/avatar/male_front_back_180.png" style="display: none;">
<img src="{{ static_path }}lib/image/avatar/male_back_front_180.png" style="display: none;">
<img src="{{ static_path }}lib/image/avatar/female_front_back_180.png" style="display: none;">
<img src="{{ static_path }}lib/image/avatar/female_back_front_180.png" style="display: none;">

<div class="swaasthFont" hide-sm>
  <div style="border:0px solid black;">
 
    <div class="homeA" layout="row" sticky>
      <div class="homeB" flex="30" style="margin-left:40px">
        <img src="{{static_path}}lib/image/logo/swaasthlogo.png"/>
      </div>
      <div class="ULlink" flex style="background:;margin-right:40px">
        <br>
                <ul>
                  <li><a href="#">FEEDBACK</a></li>
                  <li><a href="#" style="width:100px">ABOUT</a></li>
                  <li><a ui-sref="secondary({statename:'login'})">LOGIN</a></li>
                </ul>
      </div>
    </div>

    <div class="Heart" layout="column" layout-align="center center" style="margin:30px 0px 30px 0px; background-image:url('{{static_path}}lib/image/index/heart.png');">
      <div>
      <p style="font-size:30px;font-weight: normal;word-spacing: 5px;text-align:center">BE   IN <span style="color:green">CHARGE</span> WITH YOUR HEALTH</p>
      <p style="font-size:20px;font-weight: lighter;margin-top:-15px;text-align:center">WITH INDIA'S BIGGEST SELF HELP MEDICAL APP</p>
      </div>
      <div style="margin:50px 0px 50px 0px;padding:0px;width:50%">
           <form novalidate layout="row">
            <input flex="80" type="text" ng-model="primary_vm.search_text" placeholder="{{primary_vm.placeholder}}" name="search_box" style="height:40px;margin:0px; font-size:20px" ng-focus="primary_vm.stopAndErasetype()" ng-blur = "primary_vm.starttype()">
            <md-button flex="20" style="height:40px;margin:0px;background:green;float:right;border-radius:0px 5px 5px 0px;color:white" ng-disabled="primary_vm.search_text=='' || primary_vm.search_text==null" ui-sref="secondary({statename:'sear', search_text : primary_vm.search_text})">SEARCH</md-button>
          </form>
      </div>
      <div>
             <p style="margin-top:60px;font-weight:lighter"><b>If its an emergency you should contact emergency services right now.</b></p>
      </div>
      <div>
      <md-button class="md-warn md-raised md-hue-2" style="width:300px;height:50px">EMERGENCY CONTACTS</md-button>
      </div>
      
    </div>

        

    <div layout="row" layout-align="space-between start"  style="margin:50px">
      <div flex="45">
         <img layout="row" src="{{static_path}}lib/image/index/index_wall1.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px;"/>
         <md-button layout="row" style="width:100%;height:50px;background:red;border-radius:0px 0px 10px 10px;color:white;" ui-sref="secondary({statename:'symp'})"><span style="margin: auto auto;">Check Now</span></md-button>
      </div>
      <div flex="45">
         <img layout="row" src="{{static_path}}lib/image/index/index_wall2.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px; border:1px solid gray"/>
         <md-button layout="row" style="width:100%;height:50px;background:green;border-radius:0px 0px 10px 10px;color:white;"  ui-sref="secondary({statename:'symp'})"><span style="margin: auto auto;">Check Now</span></md-button>   
      </div>
    </div>

    </div>


    <div layout="column" class="Banner" style="color:white;text-align:center; background-image:url('{{static_path}}lib/image/index/banner_bg.jpg');">
      <div style="background:"><h1 >HOW IT WORKS</h1></div>
      <div layout="row" layout-align="space-around start" style="margin:0px 0px 10px 0px">
         <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
         <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
         <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
         <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
      </div>
      <div layout="row" style="margin:5px 0px 10px 0px;font">
         <div flex>Check all your health<br> related possibilities</div>
         <div flex>Find best doctor in<br> your area</div> 
         <div flex>Book an <br> appointment</div>
         <div flex>Eat healthy <br> stay healthy</div>
      </div>
    </div>



   <div layout="row" layout-align="center center" style="margin:20px">
        <div>
            <img src="{{static_path}}lib/image/logo/swaasthlogo.png" style="width:150px;height:50px" />    
        </div>
        <div style="border-left: 2px solid black;height:50px;margin:0px 20px 0px 20px"></div>
        <div><b style="font-size:50px;font-weight:lighter;padding:">BL<span style="color:green">O</span>GS</b> </div>
   </div>

</div>



<!-- End COmputer ciew-->


<!-- Start Mobile View-->
<div class="swaasthFont" hide-gt-sm>


<div layout="column" style="height:">
  <section layout="row" flex>
   
          <md-button ng-click="toggleRight()" class="md-primary" style="width:20px;height:30px;margin:30px 0px 0px -10px;padding:0px">
            <i class="fa fa-bars" style="font-size:25px;color:black"></i>
          </md-button>
        
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="right" style="height:300px;width:">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">MySwaasth</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
       <br>
          <li><a href="#">FEEDBACK</a></li>
          <li><a href="#" style="width:100px">ABOUT</a></li>
          <li><a ui-sref="secondary({statename:'login'})">LOGIN</a></li>
            
        <md-button ng-click="close()" class="md-primary" style="background:blue;color:white">
          Close 
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>



<div class="swaasthCL" style="background:;margin:-85px 5px 5px 5px ;border:0px solid black" >


<div class="HeartMobile" layout="column" layout-align="center center" style="margin:30px 0px 30px 0px">
  <div><img src="{{static_path}}lib/image/logo/swaasthlogo.png" style="width:150px;height:60px" />
  </div>
  <div>
  <p style="font-size:15px;font-weight:normal;word-spacing: 2px;text-align:center;margin:30px 0px 0px 0px">BE   IN <span style="color:green">CHARGE</span> WITH YOUR HEALTH</p>
  <p style="font-size:10px;font-weight:lighter;margin-top:;text-align:center">WITH INDIA'S BIGGEST SELF HELP MEDICAL APP</p>
  </div>
  <div style="margin:30px 0px 10px 0px;padding:0px;width:80%">
       <form novalidate layout="row" layout-align="center center">
        <input flex="80" type="text" style="height:40px;margin:0px; font-size:20px">
        <md-button flex="20" ng-click="#" style="height:40px;margin:0px;background:green;float:right;border-radius:0px 5px 5px 0px;color:white">SEARCH</md-button>
      </form>
  </div>
  <div>
         <b style="font-size:11px;font-weight:lighter">If its an emergency you should contact emergency services right now.</b>
  </div>
  <div>
  <md-button class="md-warn md-raised md-hue-2" style="width:180px;height:30px">EMERGENCY CONTACTS</md-button>
  </div>


  <div  style="background:;margin:30px 30px 0px 30px"> 
     <img src="{{static_path}}lib/image/index/index_wall1.png" style="width:100%;height:100%;margin:0px;border-radius:10px 10px 0px 0px;border: "  />
     <md-button style="width:100%;height:50px;margin:0px;background:red;border-radius:0px 0px 10px 10px;color:white">Check Now</md-button>
  </div>
  <div style="background:;margin:30px 30px 0px 30px">  
     <img src="{{static_path}}lib/image/index/index_wall2.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px;border:1px solid gray" />
     <md-button style="width:100%;height:50px;margin:0px;background:green;border-radius:0px 0px 10px 10px;color:white">Check Now</md-button>   
  </div>
</div>

<div layout="row" layout-align="center center" style="margin:20px">
      <div>
          <img src="{{static_path}}lib/image/logo/swaasthlogo.png" style="width:100px;height:30px" />    
      </div>
      <div style="border-left: 2px solid black;height:40px;margin:0px 10px 0px 10px"></div>
      <div><b style="font-size:30px;font-weight:lighter;padding:">BL<span style="color:green">O</span>GS</b> </div>
 </div>

</div>
</div>


<script>
$(document).ready(function(){
  $(window).bind("scroll", function () {
      var sc = $(window).scrollTop();
      if (sc > 10) {
          $(".homeA").addClass('small')
         
      } else {
           $(".homeA").removeClass('small')
         
      }
  });
});
</script>
