<div ng-cloak="">
<img src="{{static_path}}lib/image/avatar/male_front.jpg" style="display:none"/>
<img src="{{static_path}}lib/image/avatar/female_front.jpg" style="display:none"/>
<img src="{{static_path}}lib/image/avatar/female_back.jpg" style="display:none"/>
<img src="{{static_path}}lib/image/avatar/male_back.jpg" style="display:none"/>


<div id="login-content">
    <div layout="column" id="tile1" class ="main_layout">
        <!--header Layour-->

        <div class="wrapper settings-form"  style="z-index:50">
          <div layout="row">
            <div flex class="login-header">
                Sign In
            </div>
            <div flex class="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
          </div>
          <div id="make-3D" layout="row" ng-controller="FbController as Main">
            <div flex="100" class="tile-3d" style="background:rgba(0, 187, 210, 1);">
              <div layout="row" style="padding-top:20px;" id="front">
                <div flex-sm="0" flex="15"></div>
                <div flex-sm="100" flex="70" style="padding : 40px; border: 1px solid #1A98EB; background-color: #FFF;">
                  <div layout="row">
                    <div flex>
                      <h2>Sign in with your My Swaasth account</h2>
                      <h4>Welcome back! Enter your password to login!</h4>
                    </div>
                  </div>
                  <div layout="row">
                    <div flex="100">
                      <md-card style="padding:20px">
                        <div layout="row" layout-sm="column">
                          <div flex-sm="100" flex="45">
                            <form autocomplete="on" name="login_form" class="loginSignup">
                              <md-input-container md-no-float >
                                <md-icon md-svg-src="{{ static_path }}lib/image/email/128x128.svg" class="email"></md-icon>
                                <input ng-model="lmail" type="email" placeholder="Email (required)" name="email" ng-required="true">
                              </md-input-container>
                              <md-input-container md-no-float style="padding-bottom: 0px">
                                <md-icon md-svg-src="{{ static_path }}lib/image/password/128x128.svg" style="display:inline-block;"></md-icon>
                                <input ng-model="lpass" name="pass" type="password" placeholder="Password" ng-required="true">
                              </md-input-container>

                              <md-button ng-disabled="login_form.email.$error.email || login_form.email.$error.required || login_form.pass.$error.required" class="md-raised md-primary" ng-click="login()" style="width:82%;margin-top:16px;float: right; height:40px">
                                <span ng-show='!isLoginButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>Login</span>
                                 <span ng-show='isLoginButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>wait...<md-progress-linear md-mode="indeterminate"></md-progress-linear></span>
                              </md-button>

                              <md-button style="text-transform: none;float: right" layout="row" layout-align="end end" class="md-primary" ng-click="clickForgotPassword()">Forgot your password?</md-button>
                            </form>
                          </div>
                          <div layout-margin layout="column" class="signin-body" flex="10"></div>
                          <div flex="45" flex-sm="100">
                            <div class="socialLoginLinks clearfix">

                               <button class="btn-social btn-fb" ng-click="Main.IntentLogin()">Sign in with Facebook</button><br/>

                               <button class="btn-social btn-google" google-plus-signin clientid="168922870620-gl122edulrrr9gvde66sb917irlq5c80.apps.googleusercontent.com" language="us"></button>
                           </div>
                          </div>
                        </div>
                        <div layout="row">
                          <div class="login-links" style="padding-top:50px">
                            <p id="createAccount" class="signup-link" style="padding-left: 14px;">Don't have a My Swaasth account?
                            <a href="javascript:void(0);" class="settings">Click here</a> to create one</p>
                          </div>
                        </div>
                      </md-card>
                    </div>
                  </div>
                </div>
                <div flex-sm="0" flex="15"></div>
              </div>

              <!--back view  signup-->
              <div layout="row" class="signin-holder" style="padding-top:20px;" id="back">
                <div flex="15"></div>
                 <div flex="70" style="padding : 40px; border: 1px solid #1A98EB; background-color: #FFF; margin-left:15%">
                  <div layout="row">
                    <div flex>
                      <h2>Create a My Swaasth account</h2>
                      <h4>Enter your details and we will create a My Swaasth account for you</h4>
                    </div>
                  </div>
                  <div layout="row">
                    <div flex="100">
                      <md-card style="padding:20px">
                        <div layout="row">
                          <div flex="45">
                            <form autocomplete="on" name="signup_form" class="loginSignup">
                              <md-input-container md-no-float>
                                <md-icon md-svg-src="{{ static_path }}lib/image/user/128x128.svg" style="display:inline-block;"></md-icon>
                                <input ng-model="uname" name="uname" type="text" placeholder="UserName" >
                              </md-input-container>
                              <md-input-container md-no-float >
                                <md-icon md-svg-src="{{ static_path }}lib/image/email/128x128.svg" class="email"></md-icon>
                                <input ng-model="umail" name="email" type="email" placeholder="Email (required)" ng-required="true">
                              </md-input-container>
                              <md-input-container md-no-float style="padding-bottom: 0px">
                                <md-icon md-svg-src="{{ static_path }}lib/image/password/128x128.svg" style="display:inline-block;"></md-icon>
                                <input ng-model="upass" name="pass" type="password" placeholder="Password" ng-required="true">
                              </md-input-container>

                              <md-button ng-disabled="signup_form.email.$error.email || signup_form.email.$error.required || signup_form.pass.$error.required || signup_form.pass.$error.uname" class="md-raised md-primary pull-right" ng-click="submit()" style="width:82%;margin-top:16px; margin-left:18%; float: right; height:40px">
                                <span ng-show='!isSubmitButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>Signup</span>
                                 <span ng-show='isSubmitButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>wait...<md-progress-linear md-mode="indeterminate"></md-progress-linear></span>
                              </md-button>
                            </form>
                          </div>
                          <div layout-margin layout="column" class="signin-body" flex="10"></div>
                          <div flex="45">
                            <div class="socialLoginLinks clearfix">

                               <button class="btn-social btn-fb" ng-click="Main.IntentLogin()">Sign in with Facebook</button><br/>

                               <button class="btn-social btn-google" google-plus-signin clientid="168922870620-gl122edulrrr9gvde66sb917irlq5c80.apps.googleusercontent.com" language="us"></button>
                           </div>
                          </div>
                        </div>
                        <div layout="row">
                          <div class="login-links" style="padding-top:50px">
                            <p class="signup-link" style="margin-left: 16px;">Already have a My Swaasth account? <a href="javascript:void(0);"  class="rotate">Click here</a> to login</p>
                          </div>
                        </div>
                      </md-card>
                    </div>
                  </div>
                </div>
                <div flex="15"></div> 
              </div>
            </div>
          </div>

        </div>


        <div class="circle" style="z-index:45"></div>
        <div>
          <md-content>
<!--For Mobile View-->
            <md-toolbar style="z-index: 40" hide-gt-sm>
              <div class="md-toolbar-tools" layout = "row" >
                <!--
                <h2>
                  <span style="visibility: hidden">Toolbar with Icon Buttons</span>
                </h2>  -->
                 <div flex="20">
                      <md-button aria-label="menu" ng-click="toggleRight()" class="pull-left">
                         <md-icon md-svg-src="{{static_path}}lib/image/nav_bar/nav_menu.svg" class="pull-center"></md-icon>
                      </md-button>
                 </div>
                <div flex="60" class="devsite-search-wrapper" ng-class="({'devsite-search-active':showHotSearchDiv})">
                    <form class="devsite-search-form" action="" method="" id="top-search">
                        <div id="searchbox" class="devsite-searchbox" style="display: block!important; opacity: 1!important; top: 0px!important;">
                            <input placeholder="Search" ng-model="hotSearchText" type="text" class="devsite-search-field devsite-search-query hotSearchClass" autocomplete="off" ng-change = "hotSearchFilterList(hotSearchText)" ng-focus="showHotSearch()" ng-blur ="hideHotSearch()">
                        </div>
                        <div class="devsite-search-image" style="display: block!important; opacity: 1!important; top: 5px!important;"></div>
                    </form>
                </div>



                <span flex></span>
                <md-button class="md-icon-button md-padding settings loginClickClass" aria-label="More" ng-show="isLoginShow">
                  Login
                </md-button>

                <div layout = "column" style="" class="md-icon-button md-padding settings user-email-signout " aria-label="userDetails" ng-show="!isLoginShow">
                    <md-button class= "user-email" style="">{{loginEmail}}</md-button>
                    <md-button class= "user-signout" style="" ng-click="logoutFun()">SignOut</md-button>
                </div>

                <md-button class="md-icon-button md-padding settings" style="border-radius:50%; width:50px; height:50px; background:black" aria-label="More" ng-click="loginMouseOver()" ng-show="!isLoginShow">
                    <md-icon md-svg-src="{{static_path}}lib/image/user/128x128.svg" style="width: 100%; height: 100%;"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
<!--For Desktop View-->

            <md-toolbar style="z-index: 40" hide-sm>
              <div class="md-toolbar-tools" layout = "row" >
                 <span flex="15">
                     <img  src="{{static_path}}lib/image/logo/myswaasthlogo22.png" ui-sref="home" class="site_logo" role="button" style="width:90%">
                 </span>
                <div flex="50" class="devsite-search-wrapper" ng-class="({'devsite-search-active':showHotSearchDiv})">
                    <form class="devsite-search-form" action="" method="" id="top-search">
                        <div id="searchbox" class="devsite-searchbox" style="display: block!important; opacity: 1!important; top: 0px!important;">
                            <input placeholder="Search" ng-model="hotSearchText" type="text" class="devsite-search-field devsite-search-query hotSearchClass" autocomplete="off" ng-change = "hotSearchFilterList(hotSearchText)" ng-focus="showHotSearch()" ng-blur ="hideHotSearch()" ng-class="({'devsite-search-query-change-color':!showHotSearchDiv})">
                        </div>
                        <div class="devsite-search-image" style="display: block!important; opacity: 1!important; top: 5px!important;"></div>
                    </form>
                </div>
                
                <span flex="15" layout="column" layout-align="center" style="opacity:0.7; border-bottom: 1px solid rgb(142, 62, 60);">
                  <md-button ng-click="isHeaderLocation=!isHeaderLocation">
                    <span  style="text-overflow: ellipsis; overflow: hidden; text-align:center; float:left; width: 80%;">
                      {{userLocation}}
                    </span>
                    <span style="float:right; width: 20%;">
                      <md-icon md-svg-src="{{static_path}}lib/image/location/48x48.svg"></md-icon>
                    </span>
                  </md-button>
                </span>
                <span flex="15">
                  <div layout = "column" style="" class="md-icon-button md-padding settings user-email-signout " aria-label="userDetails" ng-show="!isLoginShow">
                      <md-button class= "user-email" style="">{{loginEmail}}</md-button>
                      <md-button class= "user-signout" style="" ng-click="logoutFun()">Sign out</md-button>
                  </div>
                </span>
                <span flex="5">
                  <md-button class="md-icon-button md-padding settings loginClickClass" aria-label="More" ng-show="isLoginShow">
                    Login
                  </md-button>
                  <md-button class="md-icon-button md-padding settings" style="border-radius:50%; width:50px; height:50px; background:black" aria-label="More" ng-click="loginMouseOver()" ng-show="!isLoginShow">
                      <md-icon md-svg-src="{{static_path}}lib/image/user/128x128.svg" style="width: 100%; height: 100%;"></md-icon>
                  </md-button>
                </span>
              </div>
            </md-toolbar>
          </md-content>
        </div>

        
        <md-sidenav class="md-sidenav-left fixed-top colorNew" md-component-id="right" hide-md style="background:rgb(214, 214, 214);">
          
          <md-toolbar class="colorNew">
            <img  src="{{static_path}}lib/image/logo/myswaasthlogo22.png" ui-sref="home" width="150" style="margin:7px" class="site_logo" role="button">
          </md-toolbar>    
          <md-content layout="column" style="background:rgb(214, 214, 214);">
            <md-button ui-sref="symptoms/male" ng-click="toggleRight()"><span class="nav_items">Symptoms</span></md-button>
            <md-button ui-sref="conditions" ng-click="toggleRight()"><span class="nav_items">Conditions</span></md-button>
            <md-button ui-sref="medications" ng-click="toggleRight()"><span class="nav_items">Medications</span></md-button>
            <md-button ui-sref="procedures" ng-click="toggleRight()"><span class="nav_items">Procedures</span></md-button>
            <md-button ui-sref="hospitals" ng-click="toggleRight()"><span class="nav_items">Hospitals</span></md-button>
            <md-button ui-sref="doctors({updater: ($stateParams.doctors_params + 1) })" ng-click="toggleRight()"><span class="nav_items">Doctors</span></md-button>
            <md-button check-login ui-sref="dashboard" ng-click="toggleRight()"><span class="nav_items">My Swaasth</span></md-button>
            <md-button ui-sref="secondarysearch" ng-click="toggleRight()"><span class="nav_items">My Search</span></md-button>
            
          </md-content>
          
        </md-sidenav>




        <div layout = "row" class="hotSearchClass">
            <div flex = "15"></div>
            <div flex = "50" ng-hide = "hidePrehotSearchItem" class="devsite-popout" ng-class = "({'devsite-popout-closed' : !showHotSearchDiv })" style="max-width: 49%;">
                <div class="devsite-history-container">
                    <div class="devsite-history-main-column" layout = "row" layout-sm="column" ng-repeat="preItem in tempArr">
                        <div flex = "50" flex-sm="100" layout-padding ng-repeat="item in preItem" ng-click="slideUpHotSearchBox()">
                            <md-list-item class="md-2-line" ng-if = "item.model == 'symptoms'" ui-sref = "secondary({statename :'symp'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider ></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-if = "item.model == 'condition'" ui-sref = "secondary({statename :'cond'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider ></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-if = "item.model == 'medication'" ui-sref = "secondary({statename :'medi'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider ></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-if = "item.model == 'procedure'" ui-sref = "secondary({statename :'proc'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-if = "item.model == 'doctor'" ui-sref = "secondary({statename :'doct'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-if = "item.model == 'hospital'" ui-sref = "secondary({statename :'hosp'})" >
                                <md-button style="width:100%; text-transform:none; text-align:left">
                                  <div class="md-list-item-text" >
                                    <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                    <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                  </div>
                                </md-button>
                                <md-divider ></md-divider>
                            </md-list-item>
                            <!--<md-list-item class="md-2-line" ng-if = "item.model == 'dashboard'" ui-sref = "secondary({statename :'mysw'})" >
                                <div class="md-list-item-text" >
                                  <h3 style="padding-left: 2%; margin: 0">  {{  item.search_in }}  </h3>
                                  <p style="padding-left: 2%; margin: 0"> {{ item.model }} </p>
                                </div>
                                <md-divider ></md-divider>
                            </md-list-item>-->

                        </div>
                    </div>
                </div>
            </div>

            <div flex = "50" ng-show = "hidePrehotSearchItem" class="devsite-popout hotSearchClass" ng-class = "({'devsite-popout-closed' : !showHotSearchDiv })" style="max-width: 49%;">
                <div class="devsite-history-container">
                    <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="loadhotsearch"></md-progress-circular>
                    <div class="devsite-history-main-column" layout = "row">
                        <div flex = "">  <!-- ng-click="slideUpHotSearchBox()" -->
                            <md-content style="white-space: normal" ng-show="!loadhotsearch">
                                <md-tabs md-dynamic-height md-border-bottom  md-stretch-tabs="auto" class="hot_search_tab_class" style="overflow: hidden;">
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">All</md-tab-label>
                                    <md-tab-body>
                                      <md-list ng-repeat="(key, all) in hotSeachItemList">
                                        
                                        <md-list-item ng-repeat="(key1, val1) in all" ng-if="val1.length>0"><span style="text-transform:uppercase; background:rgb(199, 199, 199)">{{key1}}</span></md-list-item>

                                        <md-list-item ng-if="all.symptoms" ng-repeat="symptom in all.symptoms" ui-sref="allsymptoms.causes({symptoms_id:symptom.slug, stmptoms_name:symptom.name, msp_enabled:symptom.msp_enabled, life_threatening:symptom.life_threatening})"><md-button style="text-transform:none">{{symptom.name}}</md-button><md-divider></md-divider></md-list-item>
                                        
                                        <md-list-item ng-if="all.condition" ng-repeat="condition in all.condition" ui-sref="conditions.conditions_overview({cause_id:condition.slug})"><md-button style="text-transform:none">{{condition.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="all.medications" ng-repeat="medication in all.medications"><md-button style="text-transform:none" ui-sref="medications.medications_overview({medication_id:(medication.is_brand?medication.salt_id:medication.id), medication_name:medication.name})">{{medication.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="all.procedures" ng-repeat="procedure in all.procedures"  ui-sref="procedures.procedures_overview({procedure_id:procedure.slug})"><md-button style="text-transform:none">{{procedure.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="all.doctors" ng-repeat="doctor in all.doctors" ui-sref="doctor({doctor_id : doctor.doc_id, doctor_name : doctor.doc_name})"><md-button style="text-transform:none">{{doctor.doc_name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="all.facilities" ng-repeat="facilitie in all.facilities" ui-sref="hospital({hospital_id : facilitie.slug})"><md-button style="text-transform:none">{{facilitie.name}}</md-button><md-divider></md-divider></md-list-item>
                                      </md-list>

                                      <span class="data-not-found" ng-show="hotSeachItemList[0].symptoms.length==0 && hotSeachItemList[1].condition.length==0 && hotSeachItemList[2].medications.length==0 && hotSeachItemList[3].procedures.length==0 && hotSeachItemList[4].doctors.length==0 && hotSeachItemList[5].facilities.length==0">Data not Found</span>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Symptoms</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="symptom in hotSeachItemList[0].symptoms" ui-sref="allsymptoms.causes({symptoms_id:symptom.slug, stmptoms_name:symptom.name, msp_enabled:symptom.msp_enabled, life_threatening:symptom.life_threatening})"><md-button style="text-transform:none">{{symptom.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="hotSeachItemList[0].symptoms.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[0].symptoms.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Conditions</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="condition in hotSeachItemList[1].condition" ui-sref="conditions.conditions_overview({cause_id:condition.slug})"><md-button style="text-transform:none">{{condition.name}}</md-button><md-divider></md-divider></md-list-item>
                                        
                                        <md-list-item ng-if="hotSeachItemList[1].condition.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[1].condition.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Medications</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="medication in hotSeachItemList[2].medications"><md-button style="text-transform:none" ui-sref="medications.medications_overview({medication_id:(medication.is_brand?medication.salt_id:medication.id), medication_name:medication.name})">{{medication.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="hotSeachItemList[2].medications.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[2].medications.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Procedures</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="procedure in hotSeachItemList[3].procedures"  ui-sref="procedures.procedures_overview({procedure_id:procedure.slug})"><md-button style="text-transform:none">{{procedure.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="hotSeachItemList[3].procedures.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[3].procedures.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Doctors</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="doctor in hotSeachItemList[4].doctors" ui-sref="doctor({doctor_id : doctor.doc_id, doctor_name : doctor.doc_name})">
                                            <md-content layout="row">
                                                <img ng-if = " doctor.photo[0] == null" src="{{ static_path }}lib/image/user/24x24.png" class="face" alt="">
                                                <img ng-if = " doctor.photo[0] != null" src="{{ doctor.photo[0] }}" class="face" alt = "{{doctor.doc_name}}" width="100%" height="100%">
                                                <md-button style="text-transform:none">{{doctor.doc_name}}</md-button>
                                            </md-content>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                        <md-list-item ng-if="hotSeachItemList[4].doctors.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[4].doctors.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <md-tab class="hot_search_tab">
                                    <md-tab-label class="hot_search_tab">Facilities</md-tab-label>
                                    <md-tab-body>
                                      <md-list>
                                        <md-list-item ng-repeat="facilitie in hotSeachItemList[5].facilities"><md-button style="text-transform:none">{{facilitie.name}}</md-button><md-divider></md-divider></md-list-item>

                                        <md-list-item ng-if="hotSeachItemList[5].facilities.length>0"><md-button style="text-transform:none" ui-sref="secondarysearch({search_text:hotSearchText})"><span class="see_more_class">See More</span></md-button></md-list-item>
                                        <span class="data-not-found" ng-show="hotSeachItemList[5].facilities.length==0">Data not Found</span>
                                      </md-list>
                                    </md-tab-body>
                                  </md-tab>
                                  <!-- <md-tab ng-repeat="item in hotSeachItemList">
                                      <md-tab-label ng-repeat="(key, value) in item">{{key }}</md-tab-label>
                                      <md-tab-body  ng-repeat="(key, value) in item">
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'symptoms'">
                                              {{ a.name }}{{ a.model }}{{ a.slug }}
                                          </div>
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'condition'">
                                              {{ a.name }}{{ a.model }}{{ a.slug }}
                                          </div>
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'medications'">
                                              {{ a.name }}{{ a.model }}{{ a.slug }}
                                          </div>
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'procedures'">
                                              {{ a.name }}{{ a.model }}{{ a.slug }}
                                          </div>
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'doctors'">
                                              {{ a.doc_name }}
                                          </div>
                                          <div ng-repeat = "a in value" ng-if = "a.model === 'facilities'">
                                              {{ a.name }}{{ a.model }}{{ a.slug }}
                                          </div>

                                      </md-tab-body>
                                  </md-tab> -->
                                  <!--<md-tab label="two">
                                    <md-content class="md-padding">
                                      <h1 class="md-display-2">Tab Two</h1>

                                    </md-content>
                                  </md-tab>
                                  <md-tab label="three">
                                    <md-content class="md-padding">
                                      <h1 class="md-display-2">Tab Three</h1>

                                    </md-content>
                                  </md-tab>-->
                                </md-tabs>
                              </md-content>


                            <!--<md-list-item class="md-2-line" ng-repeat="item in hotSeachItemList">


                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;"  ng-if = "item.symptoms == 'symptoms'" ui-sref="allsymptoms.causes({stmptoms_id:item.slug, stmptoms_name:item.name, msp_enabled:item.msp_enabled, life_threatening:item.life_threatening})">
                                  <div class="md-list-item-text">
                                    <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }} {{ item }} </h3>
                                    <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'symptoms'"></md-divider>
                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;" ng-if = "item.model == 'condition'" ui-sref="conditions.conditions_overview({cause_id:item.slug})">
                                  <div class="md-list-item-text">
                                      <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }}  </h3>
                                      <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'condition'"></md-divider>

                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;"  ng-if = "item.model == 'Medications'" ui-sref="medications.medications_overview({medication_id:(item.is_brand?item.salt_id:item.id), medication_name:item.name})">
                                  <div class="md-list-item-text">
                                    <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }}  </h3>
                                    <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'Medications'" ></md-divider>

                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;"  ng-if = "item.model == 'procedures'" ui-sref="procedures.procedures_overview({procedure_id:item.slug})">
                                  <div class="md-list-item-text">
                                    <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }}  </h3>
                                    <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'procedures'"></md-divider>

                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;" ng-if = "item.model == 'hospitals'">
                                  <div class="md-list-item-text">
                                        <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }}  </h3>
                                        <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'hospitals'"></md-divider>

                                <md-button style="width:100%; text-transform:none; text-align:left; padding:0px;"  ng-if = "item.model == 'doctors'">
                                  <div class="md-list-item-text">
                                    <h3 style="padding-left: 2%; margin: 3px">  {{  item.name }}  </h3>
                                    <p style="padding-left: 2%; margin: 3px"> {{ item.model }}  </p>
                                  </div>
                                </md-button>
                                <md-divider ng-if = "item.model == 'doctors'"></md-divider>

                                <md-button style="width:100%; text-transform:none; padding:0px;" ng-if = "($index == (hotSeachItemList.length -1))">
                                  <div class="md-list-item-text">
                                    <h3 style="color:rgb(98, 180, 52);" ui-sref="secondary({statename:'sear', search_text : hotSearchText})"> {{ item }}See More Results For the "{{ hotSearchText }}"</h3>
                                  </div>
                                </md-button>
                            </md-list-item>-->


                          <div ng-show = "hotSeachItemList.length == 0">
                            <h3 style="padding-left: 2%; margin: 3px">Query Not Match...</h3>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex = "50">
            </div>
            <div flex = "50">
              <div class="header_location" ng-show="isHeaderLocation">
                <user-location-template></user-location-template>
              </div>
            </div>
        </div>


        <!--navigation layout-->
        <div  class="navbar" id="navbar" style="background: rgb(242, 242, 242);">

          <!--For Main Menu-->
            <md-tabs md-selected="selectedIndex" class="tab-bottom" md-border-bottom md-stretch-tabs="auto" md-pagination-arrows="paginate" hide-sm style="overflow:hidden">
                <md-tab ui-sref="symptoms/male">
                    <md-tab-label>Symptoms&nbsp;&nbsp;&nbsp;</md-tab-label>
                      <!-- <md-tab-body>

                        <perfect-scrollbar class="scroller"  wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                    </md-tab-body> -->
                </md-tab>
                <md-tab ui-sref="conditions" ng-click="clickOnTabs(2)">
                    <md-tab-label>Conditions&nbsp;</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                      </md-tab-body> -->
                  </md-tab>
                <md-tab ui-sref="medications" ng-click="clickOnTabs(3)">
                    <md-tab-label>Medications</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                      </md-tab-body> -->
                  </md-tab>
                <md-tab ui-sref="procedures" ng-click="clickOnTabs(4)">
                    <md-tab-label>Procedures&nbsp;</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                      </md-tab-body> -->
                    </md-tab>
                <md-tab ui-sref="hospitals" ng-click="clickOnTabs(5)">
                    <md-tab-label>Hospitals&nbsp;</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                      </md-tab-body> -->
                  </md-tab>
                <md-tab ui-sref="doctors" ng-click="clickOnTabs(6)">
                    <md-tab-label>Doctors&nbsp;&nbsp;&nbsp;&nbsp;</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>

                        </perfect-scrollbar>
                      </md-tab-body> -->
                    </md-tab>
                <md-tab check-login ui-sref="dashboard" ng-click="clickOnTabs(7)">
                    <md-tab-label>My Swaasth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>
                        </perfect-scrollbar>
                      </md-tab-body> -->
                </md-tab>

                <md-tab ui-sref="secondarysearch" ng-click="clickOnTabs(8)">
                    <md-tab-label>My Search</md-tab-label>
                      <!-- <md-tab-body>
                        <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                           <div class="{{pageClass}} main_div" ui-view>

                           </div>
                        </perfect-scrollbar>
                      </md-tab-body> -->
                </md-tab>
            </md-tabs>

            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
               <div class="{{pageClass}} main_div" ng-style="resizeWithOffset(100)" resize notifier="notifyServiceOnChage(params)" ng-class="({left_to_right_view : isLeftToRightView, right_to_left_view : isRightToLeftView})" ui-view>

               </div>
            </perfect-scrollbar>
        </div>

        <!--<div class="devsite-popout">-->


        </div>
    </div>


<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" style="position:fixed; top:10%; right:0; z-index:1000">{{alert.msg}}</alert>
</div>

<md-button style="position:fixed; top:90%; left:2%; background:rgba(255, 254, 254, 1)" class="md-fab arrow" ng-click="goToLeft()">
  <md-icon md-svg-src="{{static_path}}lib/image/arrows/left_arrow/128x128.svg"></md-icon>
  </md-button>
<md-button style="position:fixed; top:90%; right:2%; background:rgba(255, 254, 254, 1);" class="md-fab arrow" ng-click="goToRight()">
  <md-icon md-svg-src="{{static_path}}lib/image/arrows/right_arrow/128x128.svg"></md-icon>
</md-button>



 