<!--for new medication -->

<div class="avatar symptom-cause" layout="column" flex ng-show="mymedicationsoverview_vm.myMedicationFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Add New Medication</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="mymedicationsoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
            <md-content md-theme="docs-dark"  class="search-bar"  >
               <md-input-container>
                  <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12);">Enter medication name to add</label>
                 <input ng-model="mymedicationsoverview_vm.filterList" ng-change="mymedicationsoverview_vm.filterListChange(mymedicationsoverview_vm.filterList)" autofocus  maxlength="100" focus ng-readonly="mymedicationsoverview_vm.disabled"><!--ng-model="symptom_all_vm.filterList" ng-change="symptom_all_vm.filterListChange(symptom_all_vm.filterList)" autofocus focus ng-readonly="symptom_all_vm.isDisabled"-->
               </md-input-container>
           </md-content>
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="mymedicationsoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar  ng-style="resizeWithOffset(178)" resize notifier="notifyServiceOnChage(params)" style="padding-top: 12%;" class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column">
                     <md-list class="list_view">

                        <md-list-item ng-repeat='medication in mymedicationsoverview_vm.medicationList track by medication.id'  ui-sref-active="list_active" ng-click="mymedicationsoverview_vm.sendMyMedication(medication.name)"><md-button><div>{{medication.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>

                        <md-content style="background: rgba(244, 238, 239, 1)">


                            <div layout="row" >
                                <div flex="100">

                                    <h2 class="myfilterList" layout="row">
                                        <span flex="85">{{ mymedicationsoverview_vm.filterList }}</span>
                                        <span flex="15">
                                          <md-button class="md-raised md-primary bg-green" ng-disabled="mymedicationsoverview_vm.filterList == null || mymedicationsoverview_vm.filterList == '' || mymedicationsoverview_vm.filterList == ' '" ng-click="mymedicationsoverview_vm.sendMyMedication(mymedicationsoverview_vm.filterList)">Add</md-button>
                                        </span>
                                    </h2>
                                </div>
                                <div flex="5" style="margin: auto">
                                    <span  class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span>
                                </div>
                            </div>



                        </md-content>
                     </md-list>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>




<!-- for saved medication -->
<div class="avatar symptom-cause" layout="column" flex  ng-show="!mymedicationsoverview_vm.myMedicationFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Saved Medication</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="mymedicationsoverview_vm.closeView()" style="margin-top:-3%">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar" layout-padding >
               <h3 class="overflow-ellipsis">{{ mymedicationsoverview_vm.myMedicationFormData.salt }}</h3>
           </md-content>
           <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="mymedicationsoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar style="padding-top: 12%;" ng-style="resizeWithOffset(178)" resize notifier="notifyServiceOnChage(params)" class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                    <div layout="column" layout-padding id="medicationform">
                      <form name="medication_form">
                        <h4 style="padding-bottom: 0;margin-bottom: 0"><b>Dosage</b></h4>
                        <md-content layout-padding class="autoScroll">
                            <md-input-container>
                              <label>Amount</label>
                              <input type="text" ng-model="mymedicationsoverview_vm.myMedicationFormData.amount" maxlength="100" name="amount" ng-pattern="/^[0-9.]+$/">
                            </md-input-container>

                            <md-select style ="" placeholder="Select units" ng-model="mymedicationsoverview_vm.myMedicationFormData.unit" required name="unit">
                                <md-option ng-repeat="unit in mymedicationsoverview_vm.unitsStandard" value="{{unit.id}}">{{unit.name}}</md-option>
                            </md-select>

                            <br/>
                            <md-select placeholder="Method" ng-model="mymedicationsoverview_vm.myMedicationFormData.method" required name="method">
                                <md-option ng-repeat="method in mymedicationsoverview_vm.methods" value="{{method.id}}">{{method.name}}</md-option>
                            </md-select>

                            <md-input-container >
                              <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                              <label>Frequency</label>
                              <input ng-model="mymedicationsoverview_vm.myMedicationFormData.frequency" type="text" maxlength="100" ng-pattern="/^[0-9.]+$/" name="frequency">
                            </md-input-container>

                        </md-content>
                        <hr>
                        <h4 style="padding-bottom: 0;margin-bottom: 0"><b>Details</b></h4>
                        <md-content layout-padding class="autoScroll">
                                <md-input-container>
                                  <label>Date</label>
                                  <input type="text" ng-model="mymedicationsoverview_vm.myMedicationFormData.date"  required max="{{mymedicationsoverview_vm.myMedicationFormData.today}}" name="date" date-picker>
                                </md-input-container>

                                <md-input-container >
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Doctor</label>
                                  <input ng-model="mymedicationsoverview_vm.myMedicationFormData.doctor" type="text" maxlength="100" required name="doctor" ng-pattern="/^[A-Za-z .]+$/">
                                </md-input-container>

                                <md-input-container flex>
                                    <label>Note</label>
                                    <textarea ng-model="mymedicationsoverview_vm.myMedicationFormData.note" columns="1" name="note"></textarea>
                                </md-input-container>

                                <section layout="row"  layout-align="center center" layout-margin>
                                    <md-button ng-show="mymedicationsoverview_vm.isNewMedication" ng-disabled="!mymedicationsoverview_vm.isNewMedication || medication_form.amount.$error.pattern || medication_form.frequency.$error.pattern || medication_form.date.$error.required || medication_form.doctor.$error.required || medication_form.doctor.$error.pattern" flex ="33" class="md-raised md-primary bg-green" ng-click="mymedicationsoverview_vm.submitMyMedication()">Save</md-button>
                                    <md-button ng-hide="mymedicationsoverview_vm.isNewMedication" flex ="33" class="md-raised md-primary bg-green" ng-click="mymedicationsoverview_vm.updateMyMedication()" ng-disabled="medication_form.amount.$error.pattern || medication_form.frequency.$error.pattern || medication_form.date.$error.required || medication_form.doctor.$error.required || medication_form.doctor.$error.pattern">Update</md-button>
                                    <md-button ng-show="mymedicationsoverview_vm.isNewMedication" flex ="33" class="md-raised md-warn" ng-click="mymedicationsoverview_vm.clearForm()">Reset</md-button>

                                    <md-button ng-hide="mymedicationsoverview_vm.isNewMedication" flex ="33" class="md-raised md-warn" ng-click="mymedicationsoverview_vm.showConfirm($event)">Delete</md-button>


                                </section>
                        </md-content>
                      </form>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>
<ui-view></ui-view>



