<div class="avatar symptom-cause" layout="column" flex style="width: 575px;" >
<md-card class="cards tile">
    <div layout="row" class="header_bar">
        <md-subheader flex="85" class="md-no-sticky">
            <div class="container_title">{{hospitalDetails_vm.title}}</div>
        </md-subheader>
        <div flex="15" layout-align="end center" layout="row">
                <div class="socialCircle-container" flex>
                    <div class="socialCircle-item" socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-google-plus"></i></div>
                    <div class="socialCircle-item" socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-facebook"></i></div>
                    <div class="socialCircle-item" socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-twitter"></i></div>
                    <div class="socialCircle-item" clip-click-fallback="pathCopyForShare(false)" clip-copy=(location.protocol()+"://www."+location.host()+"/#/swaasth/doctors:"+doctorsDetails_vm.doctor_id) clip-click="pathCopyForShare(true)"><i class="fa fa-clipboard"></i></div>
                    <md-button class="md-icon-button md-primary socialCircle-center closed" aria-label="close" style="left: 0px;" share-popup="">
                        <md-icon md-svg-icon="{{static_path}}lib/image/share/128x128.svg"></md-icon>
                    </md-button>
                </div>
                <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="hospitalDetails_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
    </div>

    <md-card-content ng-style="resizeWithOffset(180)">
        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="hospitalDetails_vm.isLoading"></md-progress-circular>
        <div layout="row" style="white-space: normal">
            <div flex="100" >
                <div class="scroll_fix fix_and_scroll_show" style="position:absolute; width:100%; z-index:1">
                    <md-button style="width:100%;" class="md-primary md-raised md-hue-2">Book Appointment</md-button>
                </div>
                <perfect-scrollbar ng-style="resizeWithOffset(180)" resize notifier="notifyServiceOnChage(params)"  class="scroller custom_infinite hospital_details_list" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" style="padding-right:10px;">
                    <div  ng-repeat="(key, hospital_detail ) in hospitalDetails_vm.hospitalsDetatils">
                        <div layout = "row" layout-padding>
                            <md-card  flex="100" style="margin:0px">
                                <md-card-content layout = "column">
                                    <div layout = "row">
                                        <div flex="30" layout-padding>
                                            <img ng-if="hospital_detail.address.med_image.length!=0" ng-src="{{hospital_detail.address.med_image[hospital_detail.address.med_image.length-1].img_url}}" class="md-avatar" alt="{{doctor_detail.name}}" style="width:144px; height:144px"/>
                                            <img ng-if="hospital_detail.address.med_image.length==0" ng-src="{{static_path}}lib/image/hospital/128x128.png" class="md-avatar" style="width:100%"/>
                                        </div>
                                        <div flex="70" layout="column" layout-padding>
                                            <div>
                                                <h2 style="white-space: normal; margin: 0px">{{hospital_detail.name}}</h2>
                                                <span style="margin: 0px; white-space: normal;"><i>{{ hospital_detail.practice_info }}</i>  </span>
                                                <div style="margin: 0px">{{ hospital_detail.address.street_address }}</div>
                                                <div style="margin: 0px; font-weight:500"><i><span>{{ hospital_detail.address.locality.name }}</span>, <span>{{ hospital_detail.address.locality.city.name }}</span></i></div>
                                            </div><md-divider></md-divider>

                                           <div layout-margin>
                                                <div ng-if="hospital_detail.address.mobile!=null">
                                                    <div layout="row">
                                                        <div flex="10">
                                                            <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                                        </div>
                                                        <div flex="90" style="white-space: normal;">{{hospital_detail.address.mobile}}</div>
                                                    </div>
                                                </div>
                                                <div ng-if="hospital_detail.address.mobile == null">
                                                    <div layout="row">
                                                        <div flex="10">
                                                            <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                                        </div>
                                                        <div flex="90" style="white-space: normal;">Contact MySwaasth.com {{hospital_detail.address.mobile}}</div>
                                                    </div>
                                                </div>
                                            </div><md-divider></md-divider>
                                            <div scroll-and-fix scroller-element-class="hospital_details_list" show-element-class="scroll_fix">
                                                <md-button style="width:100%; margin-top:10px" class="md-primary md-raised md-hue-2">Book Appointment</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>

                    <!--summary of the clinics -->
                    <div layout="row" layout-padding ng-if="hospital_detail.summary!=null">
                        <md-card flex="100" style="margin: 0px; white-space: normal">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/summary/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <div layout="row">
                                            <h3 class="md-title" style="margin: .5em 0;">Summary</h3>
                                        </div><md-divider></md-divider>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="10"></div>
                                    <div flex="90"><p style="padding: 5px" ng-bind-html="hospital_detail.summary"></p></div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <!--clinic timing -->
                    <div layout="row" layout-padding ng-if="hospital_detail.visit_timings.length>0">
                        <md-card flex="100" style="margin: 0px; white-space: normal">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/clock/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <div layout="row">
                                            <h3 class="md-title" style="margin: .5em 0;">Timings</h3>
                                        </div>
                                        <md-divider></md-divider>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="10"></div>
                                    <div flex="90">
                                        <div layout="row">
                                            <div flex="50">
                                                <ul style="list-style: none; width:100%">
                                                    <li ng-repeat="time in hospital_detail.visit_timings track by $index" ng-if="$even">
                                                        <div ng-bind-html="time.availibility.name" style="font-weight:500"></div>
                                                        <div ng-bind-html="time.timings | TimeFilterBreak"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div flex="50" ng-if="hospital_detail.visit_timings.length>1" style="border-left:1px solid rgb(207, 201, 201)">
                                                <ul style="list-style: none; width:100%">
                                                    <li ng-repeat="time in hospital_detail.visit_timings track by $index" ng-if="$odd">
                                                        <div ng-bind-html="time.availibility.name" style="font-weight:500"></div>
                                                        <div ng-bind-html="time.timings"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <!--services of clinic-->
                    <div layout="row" layout-padding ng-if="hospital_detail.services.length>0">
                        <md-card flex="100" style="margin: 0px; white-space: normal" >
                            <md-card-content layout="row">
                                <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/service/128x128.svg" class="icon-wh-40"></md-icon></span>
                                <div flex ="90">
                                    <div layout="row">
                                        <h3 class="md-title" style="margin: .5em 0;">Services</h3>
                                    </div><md-divider></md-divider>
                                    <div layout="row">
                                        <div flex="50">
                                            <ul style="padding-left: 20px; list-style: disc">
                                                <li ng-repeat="service in hospital_detail.services track by $index" ng-if="$even">{{ service.name }}</li>
                                            </ul>
                                        </div>
                                        <div flex="50">
                                            <ul style="padding-left: 20px;list-style: disc">
                                                <li ng-repeat="service in hospital_detail.services track by $index" ng-if="$even">{{ service.name }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <!--Photos of clinics -->
                    <div layout="row" layout-padding ng-if="hospital_detail.address.short_image.length>0">
                        <md-card flex="100" style="margin:0px; white-space: normal;">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/related_image/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <div layout="row">
                                            <h3 class="md-title" style="margin:.5em 0">Photos</h3>
                                        </div><md-divider></md-divider>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="10">
                                    </div>
                                    <div flex="90">
                                        <div>
                                            <img style="margin:0.6%; width: 18%;" ng-repeat="photo in hospital_detail.address.short_image" ng-click="hospitalDetails_vm.showImage($event, $index)"  src="{{ photo.img_url }}" class="img img-thumbnail">
                                        </div>
                                    </div>
                                </div>

                            </md-card-content>
                        </md-card>
                    </div>

                    <!-- Related Doctors of Clinic-->
                    <div layout="row" layout-padding ng-if="hospital_detail.doctors.length >0">
                        <md-card flex="100" style="margin:0px; white-space: normal;">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/doctor/128x128.svg" class="icon-wh-40"></md-icon></span>
                                    <div flex="90">
                                        <div layout="row">
                                            <h3 class="md-title" style="margin:.5em 0">Doctors</h3>
                                        </div><md-divider></md-divider>
                                    </div>
                                </div>
                                <div layout="row" ng-repeat="doctor in hospital_detail.doctors" style="margin:10px">
                                    <div flex="10"></div>
                                    <div flex="90">
                                        <div layout="row">
                                            <div flex="20">
                                                <img ng-if="doctor.logo.length==0" ng-src="{{static_path}}lib/image/user/128x128.svg" class="md-avatar" style="width:100%"/>
                                                <img ng-if="doctor.logo.length>0" ng-src="{{doctor.logo[0].image_url}}" class="md-avatar" style="width:100%"/>
                                            </div>
                                            <div flex="10"></div>
                                            <div flex="70">
                                                <h2 style="margin: 0px">{{ doctor.owner.first_name }} {{ doctor.owner.middle_name }} {{ doctor.owner.last_name }}</h2>
                                                <div>
                                                    <span style="margin: 0px; white-space: initial; font-weight:500" ng-repeat="education in doctor.education">{{education.degree.name}} <span ng-if="$index != (doctor.education.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                                </div>

                                                <!-- <p ng-bind-html="doctor.experience"></p> -->
                                                <div>
                                                    <span ng-repeat="speciality in doctor.specialities"><i>{{ speciality.name }}</i> <span ng-if="$index != (doctor.specialities.length-1)" style="color:black"><b>&vellip;</b></span></span>
                                                </div>
                                                <div ng-if="doctor.experience_years!=null">{{doctor.experience_years}} Years Experience</div><md-divider></md-divider>
                                                <span ng-if="state.current.name.indexOf('hospitals_list')!=-1"><a ui-sref=".doctor_overview({doctor_id:doctor.doctor_id})">view more</a></span>
                                                <span ng-if="state.current.name.indexOf('hospitals_list')==-1"><a ng-click="hospitalDetails_vm.scrollToClinic(doctor.doctor_id)" style="cursor:pointer">view more</a></span>

                                            </div>
                                        </div><md-divider></md-divider>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</md-card-content>



</md-card>
</div>
<ui-view></ui-view>

