<div class="avatar symptom-cause" layout="column" flex >
<md-card class="cards tile">
    <div layout = "row" class="header_bar">
        <md-subheader class="md-no-sticky" flex="70">
            <div class="container_title"><b>Choose a Facility Category </b></div>
        </md-subheader>
        <div flex="30" layout="center center">
            <div layout="row" class="pull-right margin-top-bottom">
                <md-button flex ng-click="hospitals_vm.findMyCurrentLocation()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/location_icon/location.svg" class="animate-location-icon"></md-icon>
                    <md-tooltip>Change Location</md-tooltip>
                </md-button>
                <md-button flex class="md-icon-button md-primary" aria-label="scroll up" go-to-top=".hospital_top">
                    <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
                </md-button>
                <md-button flex class="md-icon-button md-primary close_btn" aria-label="close" ng-click="hospitals_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>
    <!--<md-button flex="10" class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="doctors_vm.closeView()" style="  margin-top: -2.5%;">
        <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg" ></md-icon>
    </md-button>-->
  </div>

   

    <div>
        <div class="serach_bar_parent">
            <md-content md-theme="docs-dark" class="search-bar" >
                <md-input-container>
                    <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12); margin-left:10px">Search</label>
                    <input type="text" ng-model="doctors_vm.filterList" autofocus ng-readonly="hospitals_vm.isDisabled" class="txt_box_padding">
                </md-input-container>
            </md-content>
        </div>
        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="hospitals_vm.isLoading && isUserLocationFind"></md-progress-circular>

        <div id="all_symptoms">
            <md-content style="background:rgb(66, 66, 66); padding:10px; position:absolute; z-index: 15; width:100%; box-shadow: 0.01px 0.01px 5px lightseagreen; margin-top : -65px" ng-hide="isUserLocationFind" ng-class="({location_find_class_hide : !isUserLocationFind, location_find_class_show : isUserLocationFind})">
                <user-location-template></user-location-template>
            </md-content>
            <perfect-scrollbar ng-style="resizeWithOffset(235)" resize notifier="notifyServiceOnChage(params)" class="scroller  custom_infinite hospital_top" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" ng-show="isUserLocationFind">
                <div class="symptoms-bar_list_view" infinite-scroll='doctors_vm.loadMore()' infinite-scroll-disabled='doctors_vm.busy' infinite-scroll-distance='1'>
                     <md-list class="list_view">
                        <md-list-item ng-repeat="hospital in hospitals_vm.hospitalList track by $index" ui-sref=".hospitals_list({hospital_slug:hospital.slug, hospital_name:hospital.name})"  ui-sref-active="list_active"><md-button><div>{{hospital.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
                     </md-list>
                </div>
            </perfect-scrollbar>
            <span class="data-not-found" ng-show="hospitals_vm.hospitalList.length==0 && !hospitals_vm.isLoading">Data not Found</span>
            <md-progress-linear md-mode="indeterminate" ng-show='doctors_vm.busy' style="position: absolute; top:98.5%;"></md-progress-linear>
    </div>
   
    
   </div>

</md-card>
</div>
<ui-view></ui-view>
