<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b><span ng-show="myprofileoverview_vm.profile.profile_fname==null">Untitled</span>{{myprofileoverview_vm.profile.profile_fname}} {{myprofileoverview_vm.profile.profile_lname}}</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myprofileoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>
        
        <md-card-content>
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="myprofileoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar ng-style="resizeWithOffset(178)" resize notifier="notifyServiceOnChage(params)" class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column" layout-padding>
                        <md-content layout-padding class="autoScroll">
                            <form name="swaasth_form">
                               <div id="profile">
                                    <a href="javascript:void(0);">
                                      <img ng-if="myprofileoverview_vm.profile.profile_gender=='M' && myprofileoverview_vm.document==null" src="{{ static_path }}lib/image/dashboard/blank-user.jpg" class="profile-image" id="profileImg">
                                      <img ng-if="myprofileoverview_vm.profile.profile_gender=='F' && myprofileoverview_vm.document==null" src="{{ static_path }}lib/image/dashboard/blank-user-f.jpg" class="profile-image" id="profileImg">
                                      <img ng-if="myprofileoverview_vm.document!=null" src="{{myprofileoverview_vm.document}}" class="profile-image" id="profileImg">

                                      <span id="uploadTrigger" ng-click="myprofileoverview_vm.openInputFile()">
                                        <b>Update Picture {{ myprofileoverview_vm.name }}</b>
                                      </span>
                                      <input ng-model="myprofileoverview_vm.document" name="{{myprofileoverview_vm.document}}" type="file" id="file-id" class="activeinput" file-read/>
                                    </a>
                               </div>
                               <div style="top:2px;"></div>
                               <div id="status_msg"></div>
                                 
                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>First Name</label>
                                    <input  ng-model="myprofileoverview_vm.profile.profile_fname" type="text" required name="fname" ng-pattern="/^[A-Za-z]+$/">
                                </md-input-container>

                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>Last Name</label>
                                    <input ng-model="myprofileoverview_vm.profile.profile_lname" type="text" required name="lname" ng-pattern="/^[A-Za-z]+$/">
                                </md-input-container>

                                <md-radio-group ng-model="myprofileoverview_vm.profile.profile_gender" layout="row">
                                  <p layout-margin flex="20" style="margin: auto auto;">Gender:</p>
                                  <md-radio-button flex="35" value="M" class="md-primary">male</md-radio-button>
                                  <md-radio-button flex="35" value="F"> Female </md-radio-button>
                                </md-radio-group>

                                <md-input-container>
                                  <label>Date of Birth</label>
                                  <input type="text" ng-model="myprofileoverview_vm.profile.profile_dob" max="{{myprofileoverview_vm.profile.today}}" name="dob" date-picker>
                                </md-input-container>

                                <md-input-container>
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Phone Number</label>
                                  <input ng-model="myprofileoverview_vm.profile.profile_mobile" type="text" name="mobile" ng-pattern="/^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$/">
                                </md-input-container>

                                <md-input-container >
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Email</label>
                                  <input ng-disabled="myprofileoverview_vm.profile.profile_isSuperUser" ng-model="myprofileoverview_vm.profile.profile_email" required type="email" ng-pattern="/^*\@([a-z0-9\-])+\.([a-z]+)$/" name="email">
                                </md-input-container>

                                <md-input-container flex>
                                  <label>Postal Code</label>
                                  <input ng-model="myprofileoverview_vm.profile.profile_postalcode" name="postal" type="text" ng-pattern="/^[0-9]+$/">
                                </md-input-container>

                                <section layout="row" layout-align="center center" layout-margin>
                                  <md-button ng-show="myprofileoverview_vm.isNewMamber" ng-disabled="!myprofileoverview_vm.isNewMamber || swaasth_form.fname.$error.required || swaasth_form.fname.$error.pattern || swaasth_form.lname.$error.required || swaasth_form.lname.$error.pattern || swaasth_form.mobile.$error.pattern || swaasth_form.email.$error.email || swaasth_form.email.$error.pattern || swaasth_form.email.$error.required || swaasth_form.postal.$error.pattern" flex="33" class="md-raised md-primary bg-green" ng-click="myprofileoverview_vm.saveDetails()">Save</md-button>
                                  <md-button ng-hide="myprofileoverview_vm.isNewMamber" flex ="33" ng-disabled="swaasth_form.fname.$error.required || swaasth_form.fname.$error.pattern || swaasth_form.lname.$error.required || swaasth_form.lname.$error.pattern || swaasth_form.mobile.$error.pattern || swaasth_form.email.$error.email || swaasth_form.email.$error.pattern || swaasth_form.postal.$error.pattern" class="md-raised md-primary bg-green" ng-click="myprofileoverview_vm.updateDetails()">Update</md-button>
                                  <md-button ng-show="myprofileoverview_vm.isNewMamber" flex ="33" class="md-raised md-primary md-warn" ng-click="myprofileoverview_vm.cancelDetails()">Reset</md-button>

                                  <md-button ng-show="!myprofileoverview_vm.profile.profile_isSuperUser" ng-hide="myprofileoverview_vm.isNewMamber" flex ="33" class="md-raised md-warn" ng-click="myprofileoverview_vm.deleteDetails()">Delete</md-button>
                                  <div class="label">Raised</div>
                                </section>

                            </form>
                        </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<ui-view></ui-view>

