<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>My Profile</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myprofile_vm.closeView()" style="margin-top:-3%">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>
        
        <md-card-content id="gender-filter">
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="myprofile_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar class="scroller" ng-style="resizeWithOffset(168)" resize notifier="notifyServiceOnChage(params)" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column">
                        <md-card ng-repeat="profile in myprofile_vm.myProfileList track by profile.id">
                            <md-button style="text-align:left; text-transform:none" ui-sref=".myprofileoverview({profile_id : profile.id})" ui-sref-active="list_active">
                                <div layout="row">
                                    <div flex="15" style="margin-top: 1%"><img src="{{ static_path }}lib/image/user/128x128.svg" class="face" alt=""></div>
                                    <div flex="80" style="padding-left: 2%;">
                                        <md-list>
                                            <md-list-item layout="row">
                                                <div style="height: 48px; padding-top:10px" class="overflow-ellipsis"><b>{{profile.email}}</b></div>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div flex="5" style="margin: auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                                </div>
                            </md-button>
                            <md-divider></md-divider>
                        </md-card>

                        
                        <md-button style="text-align:left; text-transform:none" ui-sref=".myprofileoverview({profile_id : 'addNewMamber'})" style="backgrond:black">
                            <div layout="row" style="background:black">
                                <div flex="90" style="padding-left: 2%;">
                                    <md-list>
                                        <md-list-item layout="row">
                                            <div style="height: 48px; padding-top:15px;"><b>[+] Add Family Member</b></div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="5" style="margin: auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                            </div>
                        </md-button>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<ui-view></ui-view>

