<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
      <md-subheader class="md-no-sticky">
        <div class="container_title"><b>My Swaasth</b>
            <!-- <md-icon md-svg-icon="{{static_path}}lib/image/additional_information/128x128.svg" style="margin-left:8px; margin-top:-2px"></md-icon> -->
        </div>
      </md-subheader>

        <md-card-content id="gender-filter">
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="dashboard_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar class="scroller" ng-style="resizeWithOffset(178)" resize notifier="notifyServiceOnChage(params)" ng-class="{'symptoms-cause-bar_blank_div':allsymptom_cause_vm.causesList.msp_enabled, 'symptoms-bar_blank_div':!allsymptom_cause_vm.causesList.msp_enabled}" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column" layout-padding>
                      <md-content>
                          <h2 style="padding:0 0 0 5%;">My Profile</h2>
                      </md-content>
                       <md-card ng-repeat = "item in dashboard_vm.profile">
                            <md-button style="text-align:left; text-transform:none" ui-sref="{{ item.surf }}" ui-sref-active="list_active">
                              <div layout="row">
                                <div flex="15" style="margin-top: 1%;"><img src="{{ static_path }}{{item.image}}" class="face" alt=""></div>
                                <div flex="80" style="padding-left: 2%;">
                                    <md-list>
                                        <md-list-item layout="row">
                                            <div style="height: 48px; padding-top:10px"><b>{{ item.name }}</b></div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="5" style="margin:auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                              </div>
                            </md-button>
                            <md-divider></md-divider>
                       </md-card>

                      <md-content>
                          <h2 style="padding:0 0 0 5%;">Medical Information</h2>
                      </md-content>

                      <md-card ng-repeat="item in dashboard_vm.medical">
                          <md-button style="text-align:left; text-transform:none" ui-sref="{{ item.surf }}" ui-sref-active="list_active">
                            <div layout="row">
                              <div flex="15" style="margin-top: 1%">
                                  <img src="{{ static_path }}{{ item.image }}" class="face" alt=""></div>
                              <div flex="80" style="padding-left: 2%;">
                                  <md-list>
                                      <md-list-item layout="row">
                                          <div style="height: 48px; padding-top:10px" layout-padding><b>{{ item.name }}</b></div>
                                      </md-list-item>
                                  </md-list>
                              </div>
                              <div flex="5" style="margin: auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                            </div>
                          </md-button>
                          <md-divider></md-divider>
                      </md-card>

                      <md-content>
                          <h2 style="padding:0 0 0 5%;">Health Information</h2>
                      </md-content><br/>

                      <md-content>
                          <h2 style="padding:0 0 0 5%;">Insurance</h2>
                      </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>


</div>



<ui-view></ui-view>
