<div class="myclass avatar symptom-cause" layout="column" flex layout-fill  style="width: 575px">
<md-card class="cards tile">
    <md-subheader class="md-no-sticky">
        <div class="container_title"><b>Search My Swaasth</b></div>
      <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="secondarysearch_vm.closeView()" style="margin-top:-3%">
        <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
      </md-button>
    </md-subheader>

  <div>
    <md-progress-circular layout="column" class="md-hue-2 loading" md-mode="indeterminate" ng-show="secondarysearch_vm.isLoading"></md-progress-circular>

    <perfect-scrollbar  class="scroller symptoms-bar_blank_div" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
        <div class="symptoms-bar_list_view"  style="padding-top: 12%;">
            <div class="wrapper">
              <nav class="vertical">
                <ul>
                  <li>
                    <label for="symptoms">Symptoms</label>
                    <input type="radio" checked="true" name="verticalMenu" id="symptoms" />
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                    </div>
                  </li>
                  <li>
                    <label for="conditions">Conditions</label>
                    <input type="radio" name="verticalMenu" id="conditions" />
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                    </div>
                  </li>
                  <li>
                    <label for="medications">Medications</label>
                    <input type="radio" name="verticalMenu" id="medications" />
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium magna ac nulla laoreet fringilla. Pellentesque pharetra elit feugiat erat ornare eleifend. Morbi lobortis risus quis semper consectetur. Vestibulum vulputate, lorem et tempor luctus, nisi tellus fermentum erat, ut imperdiet nunc justo ac odio. In ac sem erat. Suspendisse euismod faucibus dolor vel sodales. Donec sed placerat erat. Nulla facilisi. In in ipsum nunc. Maecenas at arcu nec justo lobortis vulputate quis a neque.</p>
                    </div>
                  </li>
                  <li>
                    <label for="procedure">Procedures</label>
                    <input type="radio" name="verticalMenu" id="procedure"/>
                    <div>
                      <p>sdfdsfdsfds</p>
                      <p>fsdsd</p>
                      <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>

                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                      </ul>
                    </div>
                  </li>

                  <li>
                    <label for="hospitals">Hospitals</label>
                    <input type="radio" name="verticalMenu" id="hospitals"/>
                    <div>
                      <p>sdfdsfdsfds</p>
                      <p>fsdsd</p>
                      <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>

                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                      </ul>
                    </div>
                  </li>


                  <li>
                    <label for="doctors">Doctors</label>
                    <input type="radio" name="verticalMenu" id="doctors"/>
                    <div>
                      <p>sdfdsfdsfds</p>
                      <p>fsdsd</p>
                      <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>

                        <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
                      </ul>
                    </div>
                  </li>


                </ul>
              </nav>

            </div>
        </div>

    </perfect-scrollbar>
  </div>
</md-card>
</div>

<div class="symptom-cause" ui-view="myProcedureView"></div>
<div class="symptom-cause" ng-include="static_path + 'templates/imgvideodialog/whereCouldIgo.html'">

</div>

<ui-view></ui-view>


<!-- search one style sheet-->
<style>
/* Styles go here */



div.wrapper {
  margin: 5px auto 0;
  width: 100%;

  white-space: normal;

}

p {
  font-size: 1rem;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > label,
      nav.vertical > ul > li > a {
        background-color: rgb(157, 34, 60);
        background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
      }

        nav.vertical > ul > li > label:hover,
        nav.vertical > ul > li > a:hover {
         background-color: rgb(114, 51, 98);
         background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         cursor: pointer;
        }

        nav.vertical > ul > li > label + input {
          display: none;
          visability: hidden;
        }

          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
            height: 0;
            overflow: scroll;
            transition: all .35s ease;
          }

            nav.vertical > ul > li > div > p {
              margin: 24px;
              text-align: left;
            }

            nav.vertical ::-webkit-scrollbar {
              width: .9rem;
            }

            nav.vertical ::-webkit-scrollbar-thumb {
              background-color: rgb(114, 51, 98);
              border: solid rgb(255,255,255);
              border-width: .4rem .4rem .4rem 0;
              border-radius: 0 .4rem .4rem 0;
            }

            nav.vertical > ul > li > label + input:checked + div {
              height: 200px;
            }
</style>