<div class="avatar symptom-cause" layout="column" flex style="width: 575px">
<md-card class="cards tile">

    <div layout = "row" style="background: rgb(10,116,15)">
        <md-subheader class="md-no-sticky" flex="25">
            <div class="container_title">My Swaasth</div>
        </md-subheader>
        <div flex="5"></div>
        <div flex="60" class="devsite-search-wrapper devsite-subsearch-wrapper" ng-class="({'devsite-subsearch-active':showHotSearchDiv})" style="height:40px; margin:auto auto">
          <input placeholder="Search MySwaasth" ng-model="secondarysearch_vm.search_value" autofocus type="text" class="devsite-search-field devsite-search-query hotSearchClass" style="margin-top: 3px; color:white; padding: 7px 8px 8px 45px;">
          <div class="devsite-search-image" style="display: block!important; opacity: 1!important; top: 10px!important; left: 10px;"></div>
        </div>
        <md-button flex="10" class="md-raised md-warn" style="margin: auto auto; background:#0B9379; height:40px; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26); border-radius: 3px; border-left:1px solid rgb(67, 67, 68);" ng-click="secondarysearch_vm.fullSearch_click()">
          <i class="devsite-search-image" style="left: 16px; top:8px"></i>
        </md-button>
    </div>
    
    <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="secondarysearch_vm.isLoading"></md-progress-circular>
    
    <div layout="row">
      <div flex = "20">
          <div class="menu_simple">
              <ul>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(0)" ng-class="({current:secondarysearch_vm.tapindex==0})" style="border-radius: 0px">Symptoms</md-button></li>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(1)" ng-class="({current:secondarysearch_vm.tapindex==1})" style="border-radius: 0px">Conditions</md-button></li>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(2)" ng-class="({current:secondarysearch_vm.tapindex==2})" style="border-radius: 0px">Medications</md-button></li>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(3)" ng-class="({current:secondarysearch_vm.tapindex==3})" style="border-radius: 0px">Procedures</md-button></li>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(4)" ng-class="({current:secondarysearch_vm.tapindex==4})" style="border-radius: 0px">Hospitals</md-button></li>
                  <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(5)" ng-class="({current:secondarysearch_vm.tapindex==5})" style="border-radius: 0px">Doctors</md-button></li>
              </ul>
          </div>
      </div>
      <div flex = "80">

        <perfect-scrollbar ng-style="secondarysearch_vm.viewheight" class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
            <div class="symptoms-bar_list_view">
              <md-list class="list_view">
                <span ng-if="secondarysearch_vm.tapindex==0" ng-repeat='search in secondarysearch_vm.searchList track by $index'>
                  <md-list-item ui-sref=".causes({symptoms_id:search.slug, stmptoms_name:search.name, msp_enabled:search.msp_enabled, life_threatening:search.life_threatening})" ui-sref-active="list_active">
                      <md-button layout="row"><div flex="95"><b>{{search.name}}</b></div><div>{{search.Description}}</div>
                      <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span></md-button>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
                <span ng-if="secondarysearch_vm.tapindex==1" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
                  <md-list-item ui-sref=".conditions_overview({cause_id:search.slug, title_name1:search.name})" ui-sref-active="list_active">
                    <md-button layout="row"><div flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></div>
                    <span flex="5" layout-align="center end" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span></md-button>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
                <span ng-if="secondarysearch_vm.tapindex==2" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
                  <md-list-item ui-sref=".medications_overview({medication_id:(search.is_brand?search.salt_id:search.id), medication_name:search.name})" ui-sref-active="list_active">
                    <div layout="row">
                      <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                      <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                    </div>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
                <span ng-if="secondarysearch_vm.tapindex==3" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
                  <md-list-item ui-sref=".procedures_overview({procedure_id:search.slug, procedure_name:search.name})" ui-sref-active="list_active">
                    <div layout="row">
                      <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                      <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                    </div>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
                <span ng-if="secondarysearch_vm.tapindex==4" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
                  <md-list-item ui-sref=".hospital_overview({hospital_id:search.slug})" ui-sref-active="list_active">
                    <div layout="row">
                      <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                      <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                    </div>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
                <span ng-if="secondarysearch_vm.tapindex==5" ng-repeat='search in secondarysearch_vm.searchList track by $index'>
                  <md-list-item ui-sref=".doctor_overview({doctor_id : search.doc_id, doctor_name : search.doc_name})" ui-sref-active="list_active">
                    <div layout="row">
                      <md-button flex="95"><div><b>{{search.doc_name}}</b></div></md-button>
                      <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                    </div>
                    <md-divider></md-divider>
                  </md-list-item>
                </span>
              </md-list>
          </div>
        </perfect-scrollbar>
        <span class="data-not-found" ng-show="secondarysearch_vm.searchList.length==0 && secondarysearch_vm.isLoading==false">Data not Found</span>
      </div>
    </div>


  
</md-card>
</div>


<ui-view></ui-view>
