<!DOCTYPE html>
<html data-ng-app="myApp" lang="en">
<head>
  <title>My Swaasth Project</title>

{% load static from staticfiles %}
  <!--<base href="/" />-->

  <meta name="viewport" content="initial-scale=1" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {% include 'stylesheets.html' %}
    <style>
        /* some naive styles for a splash page */
.splash {
    background: #000000;
    color: white;
    height: 100%;
}
.splash h2 {
    font-size: 2.1em;
    font-weight: 500;
}
.splash img {
    width: 100%;
    margin: auto auto;
    text-align: center;
}

[ng-cloak].splash {
    display: block !important;
}
[ng-cloak] {display: none;}


.splashImg{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 100%;
}

</style>
</head>


{% verbatim %}

<body>
<div ng-material-preloader="{position: 'top', height: '5px', col_1: '#159756',col_2: '#da4733', col_3: '#3b78e7', col_4: '#fdba2c',fadeIn: 200,fadeOut: 200}"></div>

<div class="splash">
    <div layout="row" layout-align="center center">
        <div flex="40"></div>
        <div flex="20" class="splashImg">
            <img src="../static/lib/image/logo/myswaasthlogo22.png">
            <p class="pull-right" style="color: rgba(255, 255, 255, 0.51)">Innotical Solution Pvt. Ltd.</p>
        </div>
        <div flex="40"></div>
    </div>
</div>

    <ui-view class="fade"></ui-view>

{% endverbatim %}


  {% include 'javascripts.html' %}

</body>

</html>
