{% load staticfiles %}
 {% comment %} <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.js' %}"></script>{% endcomment %}

<script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-ui.js' %}"></script>


  <!--<script src="{% static 'bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js' %}"></script>-->
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>



  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <!-- material PreLoader -->
  <script src="{% static 'bower_components/Material-Preloader/js/materialPreloader.js'%}"></script>
  <script src="{% static 'bower_components/ngstorage/ngStorage.js' %}"></script>
  <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
  <script src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
  <script src="{% static 'bower_components/angular-material-icons/angular-material-icons.js' %}"></script>

  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
  <script src="{% static 'bower_components/angular-local-storage/dist/angular-local-storage.js' %}"></script>
  <script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

  <script src="{% static 'lib/ngInfiniteScroll/build/ng-infinite-scroll.js' %}"></script>
  <script src="{% static 'lib/areamap/jquery.imagemapster.js' %}"></script>

  <!--********************** social Share Pop up *********************************-->
  <script src="{% static 'lib/ShareMenu/socialCircle.js' %}"></script>
     {% comment %}<script src="{% static 'lib/areamap/sprite-animation-demo.js' %}"></script>{% endcomment %}



  <!--Custom ScrollBar-->
  <script src="{% static 'lib/angular-perfect-scrollbar-master/perfect-scrollbar/src/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'lib/angular-perfect-scrollbar-master/perfect-scrollbar/min/perfect-scrollbar.with-mousewheel.min.js' %}"></script>
  <script src="{% static 'lib/angular-perfect-scrollbar-master/src/angular-perfect-scrollbar.js' %}"></script>
  <script src="{% static 'lib/angular-perfect-scrollbar-master/perfect-scrollbar.jquery.min.js' %}"></script>

  <!--custom comapre male age headroom filter scripts-->
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-ui-switch/angular-ui-switch.js' %}"></script>

  <!--********** For youtube video play****-->
<!--<script src="{% static 'https://www.youtube.com/iframe_api' %}"></script>-->
  <script src="{% static 'lib/youtube/iframe_api' %}"></script>
  <script src="{% static 'bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'bower_components/ng-slider/dist/ng-slider.min.js' %}"></script>
  <!--<script type="text/javascript" src="{% static '' %}bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>-->
  <script type="text/javascript" src="{% static 'bower_components/headroom.js/dist/headroom.js' %}"></script>
  <!--<script type="text/javascript" src="{% static '' %}bower_components/headroom.js/dist/jQuery.headroom.js"></script>-->
  <script type="text/javascript" src="{% static 'bower_components/headroom.js/dist/angular.headroom.js' %}"></script>

  <!--***********For Authontication Base64***********-->
  <script type="text/javascript" src="{% static 'bower_components/angular-base64/angular-base64.min.js' %}"></script>
  <!--***********For get Tocken from Google+***********-->
  <script type="text/javascript" src="{% static 'lib/angular-directive.g-signin/google-plus-signin.js' %}"></script>
  <!--for facebook authenticatio-->
  <script type="text/javascript" src="{% static 'lib/angular-facebook/lib/angular-facebook.js' %}"></script>

  <!--****** For Sticky JS********-->
  <script src="{% static 'lib/stickyJS/sticky.js' %}"></script>


  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBszqo5hYL_kXoNfpG698zBmnVTCGxOxs&sensor=false"></script><!--AIzaSyC7NmwaGXO8v-U71cDD5nXlC9mnTx7Pfqs-->

  <!--For GeoLocation. get Location based on IP Address -->

  <!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
  <!--******* For Puppu Menu******-->
  <!--<script type="text/javascript" src="{% static 'lib/Popup-Menu-for-Apps-master/Popup-Menu-for-Apps/src/custom_directive.js' %}"></script>-->

  <!--******* For Google+, Facebook, Twitter etc. Sharing******-->
  <script type="text/javascript" src="{% static 'bower_components/angularjs-socialshare/dist/angular-socialshare.min.js' %}"></script>

  <!-- For Clipboard Cut, Copy, Paste****-->
  <script type="text/javascript" src="{% static 'lib/zeroclipboard-master/dist/ZeroClipboard.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/ng-clip-0.2.6/dest/ng-clip.min.js' %}"></script>
  <!--************-->

<!-- jquery 3d avatr rotation-->
  <script type="text/javascript" src="{% static 'lib/reel3dJs/jquery.reel.js' %}"></script>


  <script src="{% static 'app.js' %}"></script>
  <script src="{% static 'myApp.config.js' %}"></script>
  <script src="{% static 'myApp.routes.js' %}"></script>

  <script src="{% static 'javascripts/index/primary.js' %}"></script>
  <script src="{% static 'javascripts/index/controller/primary.controller.js' %}"></script>
  <script src="{% static 'javascripts/index/services/primary.services.js' %}"></script>
  
  <script src="{% static 'javascripts/authentication/authentication.js' %}"></script>
  <script src="{% static 'javascripts/authentication/controller/authentication.controller.js' %}"></script>
  <script src="{% static 'javascripts/authentication/service/authentication.service.js' %}"></script>

  <script src="{% static 'javascripts/symptoms/symptoms.js' %}"></script>
  <script src="{% static 'javascripts/symptoms/controllers/symptoms.controller.js' %}"></script>
  <script src="{% static 'javascripts/symptoms/directive/symptoms.directives.js' %}"></script>
  <script src="{% static 'javascripts/symptoms/services/symptoms.services.js' %}"></script>

  <script src="{% static 'javascripts/conditions/conditions.js' %}"></script>
  <script src="{% static 'javascripts/conditions/controllers/conditions.controller.js' %}"></script>
  <script src="{% static 'javascripts/conditions/services/conditions.services.js' %}"></script>

  <script src="{% static 'javascripts/medications/medications.js' %}"></script>
  <script src="{% static 'javascripts/medications/controllers/medications.controller.js' %}"></script>
  <script src="{% static 'javascripts/medications/services/medications.services.js' %}"></script>

  <script src="{% static 'javascripts/procedures/procedures.js' %}"></script>
  <script src="{% static 'javascripts/procedures/controllers/procedures.controller.js' %}"></script>
  <script src="{% static 'javascripts/procedures/services/procedures.services.js' %}"></script>

  <script src="{% static 'javascripts/doctors/doctors.js' %}"></script>
  <script src="{% static 'javascripts/doctors/controllers/doctors.controller.js' %}"></script>
  <script src="{% static 'javascripts/doctors/services/doctors.services.js' %}"></script>
  <script src="{% static 'javascripts/doctors/directive/doctors.directives.js' %}"></script>

  <script src="{% static 'javascripts/hospitals/hospitals.js' %}"></script>
  <script src="{% static 'javascripts/hospitals/controllers/hospitals.controller.js' %}"></script>
  <script src="{% static 'javascripts/hospitals/services/hospitals.services.js' %}"></script>

  <script src="{% static 'javascripts/whereCouldIGo/whereCouldIGo.js' %}"></script>
  <script src="{% static 'javascripts/whereCouldIGo/controller/whereCouldIGo.controller.js' %}"></script>
  <script src="{% static 'javascripts/whereCouldIGo/services/whereCouldIGo.services.js' %}"></script>


  <!--**********Custom Services****-->
  <script src="{% static 'javascripts/publicService.js' %}"></script>
  <script src="{% static 'javascripts/scrollService.js' %}"></script>
  <script src="{% static 'javascripts/CacheService.js' %}"></script>
  <script src="{% static 'javascripts/AuthService.js' %}"></script>
  <script src="{% static 'javascripts/GeoLocationService.js' %}"></script>
  
  <script src="{% static 'javascripts/dashboard/dashboard.js'%}"></script>
  <script src="{% static 'javascripts/dashboard/controller/dashboard.controller.js'%}"></script>
  <script src="{% static 'javascripts/dashboard/directive/dashboard.directive.js' %}"></script>
  <script src="{% static 'javascripts/dashboard/services/dashboard.services.js' %}"></script>

  <script src="{% static 'javascripts/dashboard/controller/dashboard.myprofile.controller.js' %}"></script>
  <script src="{% static 'javascripts/dashboard/directive/dashboard.myprofile.directive.js' %}"></script>
  <script src="{% static 'javascripts/dashboard/services/dashboard.myprofile.services.js' %}"></script>


  <script src="{% static 'javascripts/dashboard/controller/dashboard.mymedical.controller.js' %}"></script>
  <script src="{% static 'javascripts/dashboard/directive/dashboard.mymedical.directive.js' %}"></script>
  <script src="{% static 'javascripts/dashboard/services/dashboard.mymedical.services.js' %}"></script>

  <script src="{% static 'javascripts/search/search.js'%}"></script>
  <script src="{% static 'javascripts/search/controller/search.controller.js'%}"></script>
  <script src="{% static 'javascripts/search/directive/search.directives.js'%}"></script>
  <script src="{% static 'javascripts/search/services/search.services.js'%}"></script>

  <!--<script src="{% static 'components/version/version.js' %}"></script>
  <script src="{% static 'components/version/version-directive.js' %}"></script>
  <script src="{% static 'components/version/interpolate-filter.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static '' %}http://crypto-js.googlecode.com/files/2.0.0-crypto-sha1-hmac-pbkdf2-ofb-aes.js"></script>-->
<script>

var tabIndex=0;
function setBodyBack(ind){


    tabIndex=ind;
  }


  angular.module('myApp').controller("IndexController", IndexControllerFun);

  IndexControllerFun.$inject=['$scope', '$rootScope', '$location', '$http', '$timeout', '$interval', '$window', '$base64', '$stateParams', '$state', '$mdDialog', '$mdSidenav', '$mdUtil', '$log', 'AuthService', 'CacheService', 'MainSearchService','ScrollService'];

  function IndexControllerFun($scope, $rootScope, $location, $http, $timeout, $interval, $window, $base64, $stateParams, $state, $mdDialog, $mdSidenav, $mdUtil, $log, AuthService, CacheService, MainSearchService, ScrollService)
  {
    
    loginJquery();
    $scope.isLoginShow=true;
    $scope.isHeaderLocation = false;
    var stateName="null";
    $scope.selectedIndex=0;
    $scope.isSecondaryClassAni=false;

    $scope.isHeaderLocation = false;
    $scope.userLocation = "Change Location";

    if(CacheService.isCache("user_location"))
    {
      $scope.userLocation = CacheService.getCache("user_location").user_city;
    }
    $scope.$on("LocationChangesEvent", function(){
      $scope.userLocation = CacheService.getCache("user_location").user_city;
      $scope.isHeaderLocation = !$scope.isHeaderLocation;
    });
    /*$scope.windowHeight = $window.innerHeight;
    $scope.windowHeight = $scope.windowHeight - 100;*/

    $scope.viewheight = {
        'height': ($window.innerHeight) + "px"
    };

    if($stateParams.statename!=null)
    {

      $scope.isSecondaryClassAni=true;
      stateName=$stateParams.statename;
      if(stateName==="symp")
      {
        $state.go("symptoms/male");
      }
      if(stateName==="cond")
      {
        $state.go("conditions");
      }
      if(stateName==="medi")
      {
        $state.go("medications");
      }
      if(stateName==="proc")
      {
        $state.go("procedures");
      }
      if(stateName==="doct")
      {
        $state.go("doctors");
      }
      if(stateName==="hosp")
      {
        $state.go("hospitals");
      }
      if(stateName==="mysw")
      {
        $state.go("symptoms");
      }
      if(stateName=="login")
      {
        $('.loginClickClass').click();
      }
      if(stateName=="sear")
      {
        $state.go("secondarysearch", {search_text : $stateParams.search_text});
      }
    }
    else
    {
      stateName=($location.path()).substring(($location.path()).indexOf("/swaasth")+9, ($location.path()).indexOf("/")+13);
    }

    if(stateName==="symp")
    {
      $scope.selectedIndex=0;
    }
    if(stateName==="cond")
     {
      $scope.selectedIndex=1;
    }
    if(stateName==="medi")
     {
      $scope.selectedIndex=2;
    }
    if(stateName==="proc")
     {
      $scope.selectedIndex=3;
    }
    if(stateName==="doct")
     {
      $scope.selectedIndex=5;
    }
    if(stateName==="hosp")
     {
      $scope.selectedIndex=4;
    }
    if(stateName==="mysw")
     {
      $scope.selectedIndex=6;
    }
    if(stateName==="sear")
     {
      $scope.selectedIndex=7;
    }
    
    if(CacheService.isCache("client_info"))
    {
      $scope.isLoginShow=false;
      var userinfo=JSON.parse(CacheService.getCache("client_info"));
      $scope.loginName=userinfo.patient;
      $scope.loginEmail=userinfo.email;
    }
    else
    {
      $scope.loginName="Login";
    }

    ///*********For Google+**********
    $scope.$on('event:google-plus-signin-success', function (event,authResult) {
      AuthService.sendGoogleToken(authResult.access_token);
    });
    $scope.$on('event:google-plus-signin-failure', function (event,authResult) {
      //$scope.alerts[0]={ type: 'danger', msg: 'Fail to Connect with Google+' };
    });

    //*****For When SignIn then auto hide form and show Profile on main screen*****
    $rootScope.$on('LoginEvent', function(event, response) {
          $scope.isLoginShow=false;
          var client_s=JSON.parse(CacheService.getCache("client_secret"));
          $timeout(function(){
            $('#tile1 .close').click();
            $scope.loginName=response.first_name;
            $scope.loginEmail=response.email;
          });
          
          $timeout(function(){
            $interval(function(){
              if(CacheService.getCache("client_secret")!=null)
              {
                AuthService.refreshLogin();
              }
              else
              {
                $scope.isLoginShow=true;
              }
            }, (parseInt(client_s[0].token.expires_in)-60)*1000);
          }, (parseInt(client_s[0].token.expires_in)-60)*1000);
    });


    //************* For When click any Header Tabs and click back and forword button from browser*******************

    /*$scope.$on("$stateChangeStart", function(event, toState, toParams, fromState, fromParams){
      $timeout(function(){
        angular.element(document.querySelectorAll(".left_to_right_view.ng-leave")[0]).css("margin-top", -((document.querySelectorAll(".main_div")[1]).offsetHeight));
        angular.element(document.querySelectorAll(".left_to_right_view.ng-leave-active")[0]).css("margin-top", -((document.querySelectorAll(".main_div")[1]).offsetHeight));
        
        angular.element(document.querySelectorAll(".right_to_left_view.ng-leave")[0]).css("margin-top", -((document.querySelectorAll(".main_div")[1]).offsetHeight));
        angular.element(document.querySelectorAll(".right_to_left_view.ng-leave-active")[0]).css("margin-top", -((document.querySelectorAll(".main_div")[1]).offsetHeight));
      }, 0.005);
      
    });*/

    $scope.$on('$stateChangeSuccess', function(event, toState, toParams, fromState, fromParams) {

        if($scope.selectedIndex!=toState.data.selectedTab)
        {
          $scope.selectedIndex = toState.data.selectedTab;
        }

        //********* For When Click on Login then click back & forword native button login automatic hidden 
        if($('.main_layout').hasClass("animate"))
        {
          $('#tile1 .close').click();
        }

        if(!CacheService.isCache("client_secret"))
        {
          if(toState.name.indexOf("dashboard")!=-1){
            event.preventDefault();
            
            $state.go('dashboard');
            $timeout(function(){
              $('.loginClickClass').click();
            }, 500);
          }
        }
      });
    //***********************

    $scope.isLogoutBarShow=false;
    $scope.loginMouseOver=function()
    {
      if($scope.isLogoutBarShow==false)
        $scope.isLogoutBarShow=true;
      else
        $scope.isLogoutBarShow=false;
    };

    $scope.logoutFun=function()
    {
      $scope.isLogoutBarShow=false;
      if(CacheService.isCache("client_info"))
      {
        CacheService.removeCache("client_info");
        CacheService.removeCache("mySwaasthToken");
        CacheService.removeCache("client_secret");
        $scope.isLoginShow=true;
      }
      $state.go("home");
    };

    $scope.changePass=function()
    {
      AuthService.changePassword($scope.old_pass, $scope.new_pass);
      $scope.isDashboard=false;
    };

    /*$scope.bodyClick=function()
    {
      alert("sdf");
      if($scope.isLogoutBarShow==true)
      {
        $scope.isLogoutBarShow=false;
      }
    };*/

    $scope.myFunc=function()
    {
      $scope.selectedIndex=7;
      $state.transitionTo("secondarysearch", {search_text : $scope.user_search});
    };





    $scope.showHotSearchDiv =false;
    $scope.showHotSearch = function(){
        $scope.showHotSearchDiv =true;
        //alert("focus calls");
        $scope.preHotSearchItem = [
            {
                search_in :"Search by Symptom Name",
                model : 'symptoms'

            },
            {
                search_in :"Search by Condition Name",
                model : 'condition'
            },
            {
                search_in :"Search by Medication Name",
                model : 'medication'

            },
            {
                search_in :"Search doctor near by you",
                model : 'doctor'
            },
            {
                search_in :"Search hospital near by you",
                model : 'hospital'
            },
            {
                search_in :"Search procedure of disease",
                model : 'procedure'
            },
            {
                search_in :"create My Swaasth Account",
                model : 'dashboard'
            }
        ];
        $scope.tempArr = new Array ();
        var arr = new Array();
        for(var i = 0; i <= $scope.preHotSearchItem.length; i++){
            arr.push ($scope.preHotSearchItem[i]);
            if((i+1) % 2 == 0){
                $scope.tempArr.push(arr);
                arr = new Array();
            }
        }
      //  alert($scope.tempArr[0][1].search_in);
    };

      //*********For HotSearch hidden when click out side of serach box*****
      angular.element("body").bind("click", function($event){

          if($event.target.className.indexOf("hotSearchClass")!=-1 || $event.target.className.indexOf("hot_search_tab")!=-1 || $event.target.className.indexOf("md-paginator")!=-1 || $event.target.className.indexOf("md-default-theme")!=-1) {

          }
          else
          {
              $timeout(function(){
                $scope.showHotSearchDiv = false;
              }, 10);
          }
      });
      //***************
    $scope.slideUpHotSearchBox = function(){
        $scope.showHotSearchDiv =false;
    };

    $scope.hideHotSearch =function(){
        //$scope.showHotSearchDiv =false;
        //alert("blur calls");
    };
    
    $scope.hotSeachItemList = [];
    var hotsearch_timeout = $timeout(function(){});
    $scope.hotSearchFilterList = function(hotSearchText){
      $scope.hotSearchText = hotSearchText;
      $scope.hidePrehotSearchItem = true;
      $scope.loadhotsearch = 'true';
      
      $timeout.cancel(hotsearch_timeout);
      hotsearch_timeout = $timeout(function(){
        MainSearchService.hotSearch($scope.hotSearchText).success(function(response){
          $scope.hotSeachItemList =response;
          $scope.loadhotsearch = false;

        }).error(function(response){
           $scope.alerts[0]={ type: 'danger', msg: 'Oh snap! Connection Fail. TRY AGAIN' };
        });
      }, 1000);
    }

    $scope.clickForgotPassword=function()
    {
      $mdDialog.show({
          templateUrl: $rootScope.static_path +'templates/imgvideodialog/forgot_password_dialog.html',
          controller : function($scope, $mdDialog, HttpService){
            $scope.isValid=false;
            $scope.isNotValid=false;
            $scope.isLoading = false;
            $scope.static_path = $rootScope.static_path;
            $scope.passwordReset=function(){
              $scope.isLoading = true;
              HttpService.PublicServiceURLwithData("http://52.74.163.60/account/forgot/", {email : $scope.forgot_email})
              .success(function(response){
                $scope.isValid=true;
                $scope.isLoading = false;
                $scope.isNotValid=false;
              }).error(function(error){
                $scope.isNotValid=true;
                $scope.isLoading = false;
                $scope.isValid=false;
              });
            };

            $scope.forgotPasswordClose=function()
            {
              $mdDialog.cancel();
            }
          }
      });
    }

    $scope.toggleRight = function(){
      $mdSidenav("right").toggle();
    }


    //************* For Index Page Tabs Click***************
    var previewsTabIndex = 1;
    $rootScope.clickOnTabs = function(index)
    {
      if(previewsTabIndex < index)
      {
        $rootScope.isLeftToRightView=true;
        $rootScope.isRightToLeftView=false;
        previewsTabIndex=index;
      }
      else if(previewsTabIndex > index)
      {
        $rootScope.isRightToLeftView=true;
        $rootScope.isLeftToRightView=false;
        previewsTabIndex=index;
      }
      else if(index==false)
      {
        $rootScope.isRightToLeftView=false;
        $rootScope.isLeftToRightView=false;
      }
      
    }
    
    $scope.$on("LocationChangesEvent", function($event){
      $scope.isHeaderLocation = false;
    });
 }

</script>

<script>
    function loginJquery()
    {
      $('.settings, .loginClickClass').click(function(){
        if(!window.sessionStorage.getItem("client_info"))
        {
          $('#tile1').addClass('animate');
      		$('#tile1 div.settings-form').css('display', 'block').delay('40').animate({'opacity': 1});

      		setTimeout(function(){
      			$('#tile1 .loginSignup div').css('display', 'block').animate({'opacity': 1, 'top':0}, 200);
      		}, 40);

      		setTimeout(function(){
      			$('#tile1 .loginSignup button').css('display', 'block').animate({'opacity': 1, 'top':0}, 200);
      			$('#tile1 .cx, #tile1 .cy').addClass('s1');
      			setTimeout(function(){$('#tile1 .cx, #tile1 .cy').addClass('s2');}, 100);
      			setTimeout(function(){$('#tile1 .cx, #tile1 .cy').addClass('s3');}, 200);
      		}, 100);
        }

    	});


        $('#tile1 .close').click(function(){

    		$('#tile1 .cx, #tile1 .cy').removeClass('s1 s2 s3');

    		$('#tile1 .loginSignup button').animate({'opacity': 0, 'top':-20}, 120, function(){$(this).css('display', 'none')});
    		setTimeout(function(){
    			$('#tile1 .loginSignup div').animate({'opacity': 0, 'top':-20}, 120, function(){
    				$(this).css('display', 'none')
    			});
    			$('#tile1 div.settings-form').animate({'opacity':0}, 120, function(){$(this).hide();});

    			$('#tile1').removeClass('animate');
    		}, 50);

    	});


    	var flipCard = $("#make-3D .tile-3d");

    	$("#make-3D .settings").click(function(){

            $('.login-header').text('Sign Up');

    		$(flipCard).addClass('flip-10');
    		setTimeout(function(){
    			$(flipCard).removeClass('flip-10').addClass('flip90');
    		}, 50);

    		setTimeout(function(){
    			$(flipCard).removeClass('flip90').addClass('flip190');
    			$('#front').hide();	$('#back').show();
    			setTimeout(function(){
    				$(flipCard).removeClass('flip190').addClass('flip180');
    				$('#back .cx, #back .cy').addClass('s1');
    				setTimeout(function(){$('#back .cx, #back .cy').addClass('s2');}, 80);
    				setTimeout(function(){$('#back .cx, #back .cy').addClass('s3');}, 150);
    				setTimeout(function(){
    					$(flipCard).css('transition', '100ms ease-out');
    				}, 100);
    			}, 100);
    		}, 150);
    	});

    	$('#back .rotate').click(function(){
            $('.login-header').text('Sign In');
    		$('#back .cx, #back .cy').removeClass('s1 s2 s3');
    		$(flipCard).removeClass('flip180').addClass('flip190');

    		setTimeout(function(){
    			$(flipCard).removeClass('flip190').addClass('flip90');
    		}, 50);

    		setTimeout(function(){
    			$('#front').show();	$('#back').hide();
    				$(flipCard).removeClass('flip90').addClass('flip-10');

    			setTimeout(function(){
    			$(flipCard).removeClass('flip-10').css('transition', '100ms ease-out');
    			}, 100);
    		}, 150);

    	});

    	$('button').click(function(){return false;});
  }
</script>
