<div class="avatar symptom-cause" layout="column" flex style="width: 575px">
<md-card class="cards tile">
    <div layout="row" style="background:rgb(10, 116, 15)">
        <div flex="10" style="margin:auto auto;">
            <md-button class="md-icon-button md-primary pull-left" aria-label="Settings" style="margin-top:-2%; float:left; width:35px; border-radius:50%;" check-login ui-sref=".myproceduresoverview({ myProcedureId : (procedures_overview_vm.isStarFill==true?procedures_overview_vm.myProcedureId:'addProcedure'), myProcedureName : procedures_overview_vm.title})">
                <md-icon md-svg-icon="{{static_path}}lib/image/blank_star/128x128.svg" ng-hide="procedures_overview_vm.isStarFill"></md-icon>
                <md-icon md-svg-icon="{{static_path}}lib/image/filled_star/128x128.svg" ng-show="procedures_overview_vm.isStarFill"></md-icon>
            </md-button>
        </div>
        <md-subheader class="md-no-sticky" flex="70">
            <div class="container_title"><b>{{procedures_overview_vm.title}}</b></div>
        </md-subheader>
        <div flex="20" layout="row" layout-align="end center">
          
          <div class="socialCircle-container" flex>
              <div class="socialCircle-item" socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-google-plus"></i></div>
              <div class="socialCircle-item" socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-facebook"></i></div>
              <div class="socialCircle-item" socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"><i class="fa fa-twitter"></i></div>
              <div class="socialCircle-item" clip-click-fallback="pathCopyForShare(false)" clip-copy="location.absUrl()" clip-click="pathCopyForShare(true)"><i class="fa fa-clipboard"></i></div>
              <md-button class="md-icon-button md-primary socialCircle-center closed" aria-label="close" style="left: 0px;" share-popup="">
                <md-icon md-svg-icon="{{static_path}}lib/image/share/128x128.svg"></md-icon>
              </md-button>
          </div>
          <md-button class="md-icon-button md-primary" aria-label="close" style="float:right" go-to-top=".procedure_overview">
              <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="procedures_overview_vm.closeView()">
              <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
          </md-button>
        </div>
    </div>
  
  <div>
    <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="procedures_overview_vm.isLoading"></md-progress-circular>

    <perfect-scrollbar ng-style="resizeWithOffset(178)" resize notifier="notifyServiceOnChage(params)" class="scroller procedure_overview" id="all_symptoms" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
        <div class="symptoms-bar_list_view symptoms-bar_list_overview">
          <div class="sanitize_data color-gray" ng-repeat="overview in procedures_overview_vm.proceduresOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">
              <md-content>
                <md-card class="">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/description/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Description </h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div layout-padding ng-bind-html="overview.description" style="margin-bottom: .5em;"> </div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>

                <md-card class="">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/specialists/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Specialists</h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div style = "margin-bottom: .5em;">
                            <ul>
                              <li ng-repeat="speciality in overview.speciality" ng-bind-html="speciality.name"></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>

                <md-card class="">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/posible complication/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Possible Complications</h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div layout-padding ng-bind-html="overview.possible_complications" style="margin-bottom: .5em;" > </div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>



                <md-card class="" ng-show="overview.doINeedThisTest!=null">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/test/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Do I Need This Test ?</h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div layout-padding ng-bind-html="overview.doINeedThisTest.content"></div>
                          <b>How this was created and why it is important</b>
                          <div layout-padding ng-bind-html="overview.doINeedThisTest.attribution_text"></div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>

                <md-card class="">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/related_image/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Related Images</h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div>
                              <img style="margin-bottom: .5em; width: 32%; "style=""  ng-repeat="image in overview.image"  src="{{image.thumbnail_image}}" class="img img-thumbnail" ng-click="procedures_overview_vm.showImage($event, $index)"/>
                          </div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>

                <md-card class="">
                  <md-card-content layout="column">
                    <div layout = "row"> 
                      <div flex = "10" layout-padding>
                         <md-icon md-svg-src="{{static_path}}lib/image/video/128x128.svg" class="s24" alt="Cake"></md-icon>
                      </div>
                       <div flex = "90">
                         <h3 class="md-title" style="margin: .5em 0;"> Related Videos</h3>
                      </div>
                    </div>

                    <div layout = "row">
                        <div flex = "10">
                         
                        </div>
                        <div flex = "90">
                          <div>
                              <img style="margin-bottom: .5em; width: 32%; " ng-repeat="video in overview.video" src="{{video.thumbnail_url}}" class="img img-thumbnail" ng-click="procedures_overview_vm.showVideo($event, $index)"/><!--ng-click="procedures_overview_vm.openVideoViewer(video.main_url, video.title)"-->
                          </div>
                        </div>
                    </div>
                  </md-card-content>
                </md-card>
              </md-content>
            
          </div>
        </div>

    </perfect-scrollbar>
  </div>
</md-card>
</div>  

<div class="symptom-cause" ui-view="myProcedureView"></div>
<div class="symptom-cause" ng-include="static_path + 'templates/imgvideodialog/whereCouldIgoProcedure.html'">

</div>

<ui-view></ui-view>
